<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 1px solid orange;"></p>

<p style="font-size:2.2em; color:white; padding:15px; border-bottom: 5px solid #ffb701; background:#143157; text-align:center;"> 
    Journal Ledger  <br> 
    <span style="font-size:.55em; color: #11a1f5;"> Journal Ledger </span>
</p>

In [1]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns

In [2]:
import os
import csv

In [3]:
###---Get Year-------------------------------------
#Year = "2023"
dfStd = pd.read_csv('data/basInfo.csv')
Year = str(dfStd.loc[0, 'year'])
coFolder = str(dfStd.loc[0, 'coFolder'])

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 3px solid orange; margin:-7px 0px;"></p>

<p style="font-size:2.2em; padding:10px; border-bottom: 5px solid #ffb701; background:#143157;
          text-align:center"> 
    <span style="color: #fff;"> Create Main-Folders  </span> <br>
    <span style="font-size:.60em; color: #11a1f5;"> "C1_Gl" </span>
</p>

In [23]:
mainFolder = "Data/" +coFolder+ "/" +Year+ "/C1_Gl"
os.makedirs(mainFolder, mode=0o777, exist_ok=True)

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 3px solid orange; margin:-7px 0px;"></p>

<p style="font-size:2.2em; padding:10px; border-bottom: 5px solid #ffb701; background:#492863;
          text-align:center"> 
    <span style="color: #debef7;"> Journals  </span> <br>
</p>

<p style="font-size:2em; padding:18px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    <span style="color: #fff;"> Create Sub-Folder -  </span>
    <span style="font-size:.75em; color: #11a1f5;"> "Journals" </span>
</p>

In [24]:
subFolder = "Data/" +coFolder+ "/" +Year+ "/C1_Gl/Journals"
os.makedirs(subFolder, mode=0o777, exist_ok=True)

<p style="font-family:Calibri; font-size:1.2em; color:#061233; padding:2px 5px; margin: 5px 0 -7px 20px; border-bottom: 3px solid #0d1e4f; background: #f0f4ff">  
   <span style="font-size:1.2em; color:#384073;" >1a. Customers</span>
   <span style="font-size:1.2em; color:#821107;" >customers.CSV</span>
   <span style="font-size:1.2em; color:#384073;" >file</span>
</p>

In [26]:
file_path = "Data/" +coFolder+ "/" +Year+ "/C1_Gl/Journals/Journals.csv"

if not os.path.exists(file_path):
    headers = ['Ref', 'Type', 'Date', 'accCode', 'accHead','Amount', 'Comm', 'traDate', 'action' ]
    
    with open(file_path, 'w', newline='') as csv_file:  #create fresh file each time
        writer = csv.writer(csv_file); 
        writer.writerow(headers)

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 3px solid orange; margin:-7px 0px;"></p>

<p style="font-size:2.2em; padding:10px; border-bottom: 5px solid #ffb701; background:#492863;
          text-align:center"> 
    <span style="color: #debef7;"> Journal Ledger </span> <br>
</p>

<p style="font-size:2.2em; padding:18px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    <span style="color: #fff;">syncGenLeger -  </span>
    <span style="font-size:.75em; color: #11a1f5;"> Journal Ledger CSV File </span>
</p>

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 1 - </span>
   <span style="font-size:1.4em; color:#e39607;">Get Company and Year - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Load Data </span>
</p>

In [70]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
#pd.set_option('display.float_format', '{:.0f}'.format)
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns
dfStd = pd.read_csv('data/basInfo.csv')
Year = str(dfStd.loc[0, 'year'])
coFolder = str(dfStd.loc[0, 'coFolder'])

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 2 - </span>
   <span style="font-size:1.4em; color:#e39607;">Read Journals.csv - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Refresh the data </span>
</p>

In [71]:
fPath = "Data/" +coFolder+ "/" +Year+ "/C1_Gl/Journals/Journals.csv"
df = pd.read_csv(fPath, index_col=False, encoding='unicode_escape').fillna(0)

In [72]:
df['unique'] = df['Ref'].astype(str)+ '-' +df['Type'].astype(str)+ '-' +df['accCode'].astype(str)

In [73]:
### Remove Duplicate Quote and Deleted Record...
ledger = df.drop_duplicates(subset=['unique'], keep='last')
ledger = ledger.drop(ledger.loc[ledger['action']=='Deleted'].index)

In [74]:
ledger = ledger.drop('unique', axis=1)

In [75]:
### Save the data in qotBasic.csv File...
fPath = "Data/" +coFolder+ "/" +Year+ "/C1_Gl/Journals/Journals.csv"
ledger.to_csv(fPath, index=False)

<p style="font-size:2.2em; padding:18px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    <span style="color: #fff;">Trial Balance -  </span>
    <span style="font-size:.75em; color: #11a1f5;"> To Extract Ledger </span>
</p>

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 1 - </span>
   <span style="font-size:1.4em; color:#e39607;">Get Company and Year - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Load Data </span>
</p>

In [167]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns
dfStd = pd.read_csv('data/basInfo.csv')
Year = str(dfStd.loc[0, 'year'])
coFolder = str(dfStd.loc[0, 'coFolder'])

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 2 - </span>
   <span style="font-size:1.4em; color:#e39607;">Read Multiple Files - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Create TB </span>
</p>

In [168]:
### Read Journals.csv to get the transaction detail...........................
fPath = "Data/" +coFolder+ "/" +Year+ "/C1_Gl/Journals/Journals.csv"
transaction = pd.read_csv(fPath, index_col=False, encoding='unicode_escape').fillna(0)

In [169]:
### file doesn't recongnize date formate first convert into date and than strftime
transaction['Date'] = pd.to_datetime(transaction['Date']).dt.strftime('%Y-%m-%d')
transaction = transaction.sort_values(['Date'], ascending = [True])

In [170]:
### Read mergeTB.csv to get to merge transactio with mergeTB...................
fPath = "Data/" +coFolder+ "/C1_Gl/mergeTB.csv"
mergeTB = pd.read_csv(fPath, index_col=False, encoding='unicode_escape').fillna(0)

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 3 - </span>
   <span style="font-size:1.4em; color:#e39607;">Create Pivot Table - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Create TB</span>
</p>

In [171]:
pTransaction = pd.pivot_table(transaction,index=["accCode","accHead"],values=["Amount"],aggfunc=[np.sum],fill_value=0)

In [173]:
pTransaction.columns = pTransaction.columns.droplevel(0)
pTransaction.reset_index(inplace=True)

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 4 - </span>
   <span style="font-size:1.4em; color:#e39607;">Merge pTransaction with mergeTB- </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Create TB</span>
</p>

In [174]:
merged_df = pTransaction.merge(mergeTB[['head', 'level1', 'level2', 'level3', 'level4']], left_on='accHead', right_on='head', how='left')
merged_df = merged_df.drop('head', axis=1).fillna('')  # Drop the 'head' column from the merged DataFrame

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 5 - </span>
   <span style="font-size:1.4em; color:#e39607;">Create Pivot Table - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Create TB</span>
</p>

In [175]:
final = pd.pivot_table(merged_df,index=["level4","accHead","accCode"],values=["Amount"],aggfunc=[np.sum],fill_value=0)

In [176]:
final.columns = final.columns.droplevel(0)
final.reset_index(inplace=True)

In [177]:
finalGBy = final.groupby(['level4']).agg({'Amount': 'sum'}) 
finalGBy.loc['z. Grand Total'] = finalGBy.sum()
finalGBy.reset_index(inplace=True)

In [180]:
tbConcat = pd.concat([final, finalGBy])

In [182]:
tbSort = tbConcat.sort_values(['level4','accHead'], ascending = [True,True], na_position ='last')

In [184]:
tbSort['accHead'] = tbSort['accHead'].fillna('Total')

In [186]:
### to Hide and Show----------------------------
tbSort['Department'] = tbSort['level4']
tbSort['Vertical'] = tbSort['level4']
tbSort.loc[tbSort["accHead"] != "Total", ["Vertical"]] = '---' #  rlSort["status"]

In [190]:
tbSort

,level4,accHead,accCode,Amount,Department,Vertical
0,Accruals,VAT Output Tax Payable,"44,280,001",-593073,Accruals,---
0,Accruals,Total,,-593073,Accruals,Accruals
1,Cost of Sales,Cogs1,"60,110,001",9508500,Cost of Sales,---
1,Cost of Sales,Total,,9508500,Cost of Sales,Cost of Sales
2,Goods in Warehouse,Inventory at Cost,"37,000,001",-9508500,Goods in Warehouse,---
2,Goods in Warehouse,Total,,-9508500,Goods in Warehouse,Goods in Warehouse
3,Sales,Credit Sales,"70,120,001",-11861150,Sales,---
3,Sales,Total,,-11861150,Sales,Sales
4,Trade Receivables,Acacia Medical Center,"22,311,998",121233,Trade Receivables,---
5,Trade Receivables,Aesthetica Clinic LLC,"22,310,807",47754,Trade Receivables,---
6,Trade Receivables,Al Burg Clinic,"22,310,210",342307,Trade Receivables,---
7,Trade Receivables,Al Dar Medical Center,"22,311,134",462630,Trade Receivables,---
8,Trade Receivables,Al Jameya Pharmacy,"22,310,029",912850,Trade Receivables,---
9,Trade Receivables,Al Noor Pharmacy,"22,310,055",577878,Trade Receivables,---
10,Trade Receivables,Al Qaser Medical Center,"22,310,580",58275,Trade Receivables,---
11,Trade Receivables,Al Samnan Clinic,"22,310,133",348864,Trade Receivables,---
12,Trade Receivables,Al Sharq Hospital,"22,310,789",185850,Trade Receivables,---
13,Trade Receivables,Al Soor Pharmacy LLC,"22,310,827",38976,Trade Receivables,---
14,Trade Receivables,Alexandria Pharmacy,"22,310,916",226800,Trade Receivables,---
15,Trade Receivables,Ali Bin Ali Medical,"22,310,131",370884,Trade Receivables,---
16,Trade Receivables,American European Medical Center,"22,311,066",43260,Trade Receivables,---
17,Trade Receivables,American Hospital Dubai LLC,"22,310,646",270312,Trade Receivables,---
18,Trade Receivables,Beverly Hills Speciality Center LLC,"22,311,863",70665,Trade Receivables,---
19,Trade Receivables,Carmen Beauty Salon,"22,311,809",29799,Trade Receivables,---
20,Trade Receivables,Delta Pharmacy,"22,310,207",601020,Trade Receivables,---
21,Trade Receivables,Elite Medical Centre,"22,310,802",156555,Trade Receivables,---
22,Trade Receivables,Faith Pharmacy,"22,310,252",91908,Trade Receivables,---
23,Trade Receivables,Flora Beauty Spa,"22,310,269",542640,Trade Receivables,---
24,Trade Receivables,German Clinic FZ LLC,"22,310,200",647883,Trade Receivables,---
25,Trade Receivables,Glamour Care Clinics LLC,"22,311,988",50610,Trade Receivables,---
26,Trade Receivables,Grace Medical Centre,"22,310,701",425460,Trade Receivables,---
27,Trade Receivables,Gulf Beauty Salon - Abu Dhabi,"22,310,280",754840,Trade Receivables,---
28,Trade Receivables,HANI Pharmacy Abu Dhabi,"22,310,298",117495,Trade Receivables,---
29,Trade Receivables,Hamad Pharmacy,"22,310,286",32319,Trade Receivables,---
30,Trade Receivables,Health & Aesthetic Medical Center,"22,310,102",79380,Trade Receivables,---
31,Trade Receivables,Health &amp; Aesthetic Medical Center,"22,310,102",434259,Trade Receivables,---
32,Trade Receivables,Health Point Hospital LLC,"22,311,163",134506,Trade Receivables,---
33,Trade Receivables,Heavenly Spa,"22,310,888",162960,Trade Receivables,---
34,Trade Receivables,ICON CLINIC LLC,"22,311,242",289590,Trade Receivables,---
35,Trade Receivables,Kaya Trading,"22,310,341",18648,Trade Receivables,---
36,Trade Receivables,Life Pharmacy LLC,"22,310,359",226800,Trade Receivables,---
37,Trade Receivables,Mafraq Hospital,"22,310,776",93450,Trade Receivables,---
38,Trade Receivables,Marjan Beauty Saloon JLT,"22,310,747",326130,Trade Receivables,---
39,Trade Receivables,NADA Pharmacy,"22,310,436",27363,Trade Receivables,---
40,Trade Receivables,NAS Medical,"22,310,439",318780,Trade Receivables,---
41,Trade Receivables,Sahar Pharmacy,"22,310,097",782886,Trade Receivables,---
42,Trade Receivables,Sera Beauty Lounge,"22,310,873",34020,Trade Receivables,---
43,Trade Receivables,Spaces Spa Center,"22,310,182",647808,Trade Receivables,---
44,Trade Receivables,Top Medical Group,"22,311,052",29769,Trade Receivables,---
45,Trade Receivables,Unicare Clinic,"22,311,664",126000,Trade Receivables,---
46,Trade Receivables,Visage Pharmacy,"22,311,027",332325,Trade Receivables,---
47,Trade Receivables,Women's Medical Center (Dr. Ameena),"22,310,093",585643,Trade Receivables,---
48,Trade Receivables,Zaki Ladies Salon,"22,311,852",29139,Trade Receivables,---
49,Trade Receivables,Zulekha Hospital LLC,"22,311,663",245700,Trade Receivables,---
4,Trade Receivables,Total,,12454223,Trade Receivables,Trade Receivables
5,z. Grand Total,Total,,0,z. Grand Total,z. Grand Total

In [193]:
tbSort

,level4,accHead,accCode,Amount,Department,Vertical
0,Accruals,VAT Output Tax Payable,"44,280,001",-593073,Accruals,---
1,Accruals,Total,,-593073,Accruals,Accruals
2,Cost of Sales,Cogs1,"60,110,001",9508500,Cost of Sales,---
3,Cost of Sales,Total,,9508500,Cost of Sales,Cost of Sales
4,Goods in Warehouse,Inventory at Cost,"37,000,001",-9508500,Goods in Warehouse,---
5,Goods in Warehouse,Total,,-9508500,Goods in Warehouse,Goods in Warehouse
6,Sales,Credit Sales,"70,120,001",-11861150,Sales,---
7,Sales,Total,,-11861150,Sales,Sales
8,Trade Receivables,Acacia Medical Center,"22,311,998",121233,Trade Receivables,---
9,Trade Receivables,Aesthetica Clinic LLC,"22,310,807",47754,Trade Receivables,---
10,Trade Receivables,Al Burg Clinic,"22,310,210",342307,Trade Receivables,---
11,Trade Receivables,Al Dar Medical Center,"22,311,134",462630,Trade Receivables,---
12,Trade Receivables,Al Jameya Pharmacy,"22,310,029",912850,Trade Receivables,---
13,Trade Receivables,Al Noor Pharmacy,"22,310,055",577878,Trade Receivables,---
14,Trade Receivables,Al Qaser Medical Center,"22,310,580",58275,Trade Receivables,---
15,Trade Receivables,Al Samnan Clinic,"22,310,133",348864,Trade Receivables,---
16,Trade Receivables,Al Sharq Hospital,"22,310,789",185850,Trade Receivables,---
17,Trade Receivables,Al Soor Pharmacy LLC,"22,310,827",38976,Trade Receivables,---
18,Trade Receivables,Alexandria Pharmacy,"22,310,916",226800,Trade Receivables,---
19,Trade Receivables,Ali Bin Ali Medical,"22,310,131",370884,Trade Receivables,---
20,Trade Receivables,American European Medical Center,"22,311,066",43260,Trade Receivables,---
21,Trade Receivables,American Hospital Dubai LLC,"22,310,646",270312,Trade Receivables,---
22,Trade Receivables,Beverly Hills Speciality Center LLC,"22,311,863",70665,Trade Receivables,---
23,Trade Receivables,Carmen Beauty Salon,"22,311,809",29799,Trade Receivables,---
24,Trade Receivables,Delta Pharmacy,"22,310,207",601020,Trade Receivables,---
25,Trade Receivables,Elite Medical Centre,"22,310,802",156555,Trade Receivables,---
26,Trade Receivables,Faith Pharmacy,"22,310,252",91908,Trade Receivables,---
27,Trade Receivables,Flora Beauty Spa,"22,310,269",542640,Trade Receivables,---
28,Trade Receivables,German Clinic FZ LLC,"22,310,200",647883,Trade Receivables,---
29,Trade Receivables,Glamour Care Clinics LLC,"22,311,988",50610,Trade Receivables,---
30,Trade Receivables,Grace Medical Centre,"22,310,701",425460,Trade Receivables,---
31,Trade Receivables,Gulf Beauty Salon - Abu Dhabi,"22,310,280",754840,Trade Receivables,---
32,Trade Receivables,HANI Pharmacy Abu Dhabi,"22,310,298",117495,Trade Receivables,---
33,Trade Receivables,Hamad Pharmacy,"22,310,286",32319,Trade Receivables,---
34,Trade Receivables,Health & Aesthetic Medical Center,"22,310,102",79380,Trade Receivables,---
35,Trade Receivables,Health &amp; Aesthetic Medical Center,"22,310,102",434259,Trade Receivables,---
36,Trade Receivables,Health Point Hospital LLC,"22,311,163",134506,Trade Receivables,---
37,Trade Receivables,Heavenly Spa,"22,310,888",162960,Trade Receivables,---
38,Trade Receivables,ICON CLINIC LLC,"22,311,242",289590,Trade Receivables,---
39,Trade Receivables,Kaya Trading,"22,310,341",18648,Trade Receivables,---
40,Trade Receivables,Life Pharmacy LLC,"22,310,359",226800,Trade Receivables,---
41,Trade Receivables,Mafraq Hospital,"22,310,776",93450,Trade Receivables,---
42,Trade Receivables,Marjan Beauty Saloon JLT,"22,310,747",326130,Trade Receivables,---
43,Trade Receivables,NADA Pharmacy,"22,310,436",27363,Trade Receivables,---
44,Trade Receivables,NAS Medical,"22,310,439",318780,Trade Receivables,---
45,Trade Receivables,Sahar Pharmacy,"22,310,097",782886,Trade Receivables,---
46,Trade Receivables,Sera Beauty Lounge,"22,310,873",34020,Trade Receivables,---
47,Trade Receivables,Spaces Spa Center,"22,310,182",647808,Trade Receivables,---
48,Trade Receivables,Top Medical Group,"22,311,052",29769,Trade Receivables,---
49,Trade Receivables,Unicare Clinic,"22,311,664",126000,Trade Receivables,---
50,Trade Receivables,Visage Pharmacy,"22,311,027",332325,Trade Receivables,---
51,Trade Receivables,Women's Medical Center (Dr. Ameena),"22,310,093",585643,Trade Receivables,---
52,Trade Receivables,Zaki Ladies Salon,"22,311,852",29139,Trade Receivables,---
53,Trade Receivables,Zulekha Hospital LLC,"22,311,663",245700,Trade Receivables,---
54,Trade Receivables,Total,,12454223,Trade Receivables,Trade Receivables
55,z. Grand Total,Total,,0,z. Grand Total,z. Grand Total

In [192]:
tbSort = tbSort.fillna('')

<p style="font-size:2.2em; padding:18px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    <span style="color: #fff;">Arangement of Trial Balance -  </span>
    <span style="font-size:.75em; color: #11a1f5;"> Extract from Different module and make it </span>
</p>

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 1 - </span>
   <span style="font-size:1.4em; color:#e39607;">Get Company and Year - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Load Data </span>
</p>

In [153]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns
dfStd = pd.read_csv('data/basInfo.csv')
Year = str(dfStd.loc[0, 'year'])
coFolder = str(dfStd.loc[0, 'coFolder'])

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 2 - </span>
   <span style="font-size:1.4em; color:#e39607;">Read CustMaster.csv - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Refresh the data </span>
</p>

In [154]:
req_cols = ['cusCode','cusName']
fPath = "Data/" +coFolder+ "/" +Year+ "/F1_Sales/Customers/CustMaster.csv"
customer = pd.read_csv(fPath, usecols=req_cols, index_col=False, encoding='unicode_escape').fillna(0)
customer['level1'] = '1. Assets'
customer['level2'] = '2. Current Assets'
customer['level3'] = '3. Trade Receivables'
customer['level4'] = 'Trade Receivables'

In [155]:
customer = customer.rename(columns={'cusCode': 'code', 'cusName': 'head'})

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 2 - </span>
   <span style="font-size:1.4em; color:#e39607;">Read detailTB.csv - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Refresh the data </span>
</p>

In [156]:
req_cols = ['code','head','level1','level2','level3','level4']
fPath = "Data/" +coFolder+ "/C1_Gl/detailTB.csv"
TB = pd.read_csv(fPath, usecols=req_cols, index_col=False, encoding='unicode_escape').fillna(0)

In [157]:
mergTB = pd.concat([TB, customer])
mergTB = mergTB.reset_index(drop=True) ### Reset the index of the merged DataFrame

In [158]:
fPath = "Data/" +coFolder+ "/C1_Gl/mergeTB.csv"
mergTB.to_csv(fPath, index=False)

<p style="font-size:2.2em; padding:18px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    <span style="color: #fff;">Ledger -  </span>
    <span style="font-size:.75em; color: #11a1f5;"> General Ledger CSV File </span>
</p>

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 1 - </span>
   <span style="font-size:1.4em; color:#e39607;">Get Company and Year - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Load Data </span>
</p>

In [85]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
#pd.set_option('display.float_format', '{:.0f}'.format)
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns
dfStd = pd.read_csv('data/basInfo.csv')
Year = str(dfStd.loc[0, 'year'])
coFolder = str(dfStd.loc[0, 'coFolder'])

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 2 - </span>
   <span style="font-size:1.4em; color:#e39607;">Read dlBasic.csv - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Get the last Delivery Number </span>
</p>

In [133]:
fPath = "Data/" +coFolder+ "/" +Year+ "/C1_Gl/Journals/Journals.csv"
df = pd.read_csv(fPath, index_col=False, encoding='unicode_escape').fillna(0)

In [134]:
df

,Ref,Type,Date,accCode,accHead,Amount,Comm,traDate,action
0,2300001,dl,1/30/2023,60110001,Cogs1,3900,SVTA Radio Hand Pice 1 to Spaces Spa Center,2023-5-29 21-39-54,
1,2300001,dl,1/30/2023,37000001,Inventory at Cost,-3900,SVTA Radio Hand Pice 1 to Spaces Spa Center,2023-5-29 21-39-54,
2,2300002,dl,1/18/2023,60110001,Cogs1,36725,Microneedling RF and RF Fractional Laser to Al...,2023-5-29 21-40-11,
3,2300002,dl,1/18/2023,37000001,Inventory at Cost,-36725,Microneedling RF and RF Fractional Laser to Al...,2023-5-29 21-40-11,
4,2300003,dl,1/23/2023,60110001,Cogs1,25850,Microneedling RF and HandPiece to Women's Medi...,2023-5-29 21-40-26,
...,...,...,...,...,...,...,...,...,...
1331,2300265,si,2023-12-31,44280001,VAT Output Tax Payable,-550,"khalidiya street,",2023-6-3 13-47-7,0
1332,2300265,si,2023-12-31,70120001,Credit Sales,-11000,"khalidiya street,",2023-6-3 13-47-7,0
1333,2300266,si,2023-12-21,22311852,Zaki Ladies Salon,12359,"Dubai Resort Shop 2, Anatara, The Palm",2023-6-3 13-47-23,0
1334,2300266,si,2023-12-21,44280001,VAT Output Tax Payable,-589,"Dubai Resort Shop 2, Anatara, The Palm",2023-6-3 13-47-23,0
1335,2300266,si,2023-12-21,70120001,Credit Sales,-11770,"Dubai Resort Shop 2, Anatara, The Palm",2023-6-3 13-47-23,0

In [143]:
### file doesn't recongnize date formate first convert into date and than strftime
df['Date'] = pd.to_datetime(df['Date']).dt.strftime('%Y-%m-%d')
df = df.sort_values(['Date'], ascending = [True])

In [144]:
df

,Ref,Type,Date,accCode,accHead,Amount,Comm,traDate,action
2,2300002,dl,2023-01-18,60110001,Cogs1,36725,Microneedling RF and RF Fractional Laser to Al...,2023-5-29 21-40-11,
3,2300002,dl,2023-01-18,37000001,Inventory at Cost,-36725,Microneedling RF and RF Fractional Laser to Al...,2023-5-29 21-40-11,
217,2300004,si,2023-01-19,70120001,Credit Sales,-45400,Microneedling RF and RF Fractional Laser to Al...,2023-5-29 22-28-39,0
215,2300004,si,2023-01-19,22310029,Al Jameya Pharmacy,47670,Microneedling RF and RF Fractional Laser to Al...,2023-5-29 22-28-39,0
216,2300004,si,2023-01-19,44280001,VAT Output Tax Payable,-2270,Microneedling RF and RF Fractional Laser to Al...,2023-5-29 22-28-39,0
...,...,...,...,...,...,...,...,...,...
1291,2300252,si,2023-12-31,22311134,Al Dar Medical Center,174300,FujirahkhorfkanCornish area,2023-6-3 13-44-25,0
1292,2300252,si,2023-12-31,44280001,VAT Output Tax Payable,-8300,FujirahkhorfkanCornish area,2023-6-3 13-44-25,0
1293,2300252,si,2023-12-31,70120001,Credit Sales,-166000,FujirahkhorfkanCornish area,2023-6-3 13-44-25,0
652,2300252,dl,2023-12-31,37000001,Inventory at Cost,-136000,FujirahkhorfkanCornish area,2023-6-3 3-57-48,
1258,2300241,si,2023-12-31,22310789,Al Sharq Hospital,61950,Fujairah United Arab Emirates,2023-6-3 13-42-19,0

In [140]:
pk = 60110001
dfA  = df[df['accCode'] == pk].fillna(0) ### Filter data as per 'pk' selected quote

In [141]:
dfA

,Ref,Type,Date,accCode,accHead,Amount,Comm,traDate,action
0,2300001,dl,2023-01-30,60110001,Cogs1,3900,SVTA Radio Hand Pice 1 to Spaces Spa Center,2023-5-29 21-39-54,
2,2300002,dl,2023-01-18,60110001,Cogs1,36725,Microneedling RF and RF Fractional Laser to Al...,2023-5-29 21-40-11,
4,2300003,dl,2023-01-23,60110001,Cogs1,25850,Microneedling RF and HandPiece to Women's Medi...,2023-5-29 21-40-26,
6,2300004,dl,2023-01-28,60110001,Cogs1,64000,RF Fractional CO2 Laser and Handpiece to Al No...,2023-5-29 21-40-46,
8,2300005,dl,2023-02-16,60110001,Cogs1,5500,SVTA Radio Hand Pice 3 & 4,2023-5-29 21-41-3,
...,...,...,...,...,...,...,...,...,...
675,2300264,dl,2023-11-28,60110001,Cogs1,59000,Mall of Emirates bridge turn left towards Lulu...,2023-6-3 4-2-11,
677,2300265,dl,2023-12-27,60110001,Cogs1,13500,Al Hamrain Center Dubai United Arab Emirates,2023-6-3 4-2-41,
679,2300266,dl,2023-12-30,60110001,Cogs1,8100,"khalidiya street,",2023-6-3 4-3-8,
681,2300267,dl,2023-12-20,60110001,Cogs1,9400,"Dubai Resort Shop 2, Anatara, The Palm",2023-6-3 4-3-27,
683,2300268,dl,2023-12-23,60110001,Cogs1,26000,"Villa 813, Jumeirah Beach Road,",2023-6-3 4-4-7,

In [138]:
ledgerA = dfA[['Date','accCode','accHead','Ref','Type','Amount','Comm']]

In [83]:
ledgerB = ledgerA.copy()

In [84]:
ledgerB['Balance'] = ledgerB['Amount'].cumsum()
ledgerB

,Date,accCode,accHead,Ref,Type,Amount,Balance
296,2023-02-03,22310280,Gulf Beauty Salon - Abu Dhabi,2300031,si,142800,142800
344,2023-04-18,22310280,Gulf Beauty Salon - Abu Dhabi,2300047,si,32839,175639
350,2023-03-04,22310280,Gulf Beauty Salon - Abu Dhabi,2300049,si,29379,205018

<p style="font-size:2.2em; padding:18px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    <span style="color: #fff;">Sales Analysis -  </span>
    <span style="font-size:.75em; color: #11a1f5;"> Detail Sales Analysis </span>
</p>

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 1 - </span>
   <span style="font-size:1.4em; color:#e39607;">Get Company and Year - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Load Data </span>
</p>

In [97]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
#pd.set_option('display.float_format', '{:.0f}'.format)
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns
dfStd = pd.read_csv('data/basInfo.csv')
Year = str(dfStd.loc[0, 'year'])
coFolder = str(dfStd.loc[0, 'coFolder'])

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 2 - </span>
   <span style="font-size:1.4em; color:#e39607;">Read dlBasic.csv - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Get the last Delivery Number </span>
</p>

In [98]:
fPath = "Data/" +coFolder+ "/" +Year+ "/C1_Gl/Journals/Journals.csv"
df = pd.read_csv(fPath, index_col=False, encoding='unicode_escape').fillna(0)

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 3 - </span>
   <span style="font-size:1.4em; color:#e39607;">Create Customer Pivot Table - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Get top 10 Customer</span>
</p>

In [99]:
### Filter data To Get Customer Only --------------------------------------
dfA  = df[df['Type'] == 'si'].fillna(0)
filtered_df = dfA[(dfA['accCode'] >= 20000000) & (dfA['accCode'] <= 29999999)]

In [104]:
### Create Pivot Table -----------------------------------------
byCustomer = pd.pivot_table(filtered_df,index=["accCode","accHead"],values=["Amount"],aggfunc=[np.sum],fill_value=0)
byCustomer.columns = byCustomer.columns.droplevel(0)
byCustomer.reset_index(inplace=True)

In [108]:
### Create Top 10 Customer -----------------------------------------
sorted_df = byCustomer.sort_values('Amount', ascending=False)  # Sort the DataFrame
top_10 = sorted_df.head(10) # Filter the top 10 rows

In [109]:
top_10

     accCode                                accHead  Amount
7   22310182                      Spaces Spa Center  245238
2   22310093    Women's Medical Center (Dr. Ameena)  233704
8   22310200                   German Clinic FZ LLC  215828
13  22310280          Gulf Beauty Salon - Abu Dhabi  205018
12  22310269                       Flora Beauty Spa  189210
0   22310029                     Al Jameya Pharmacy  184742
1   22310055                       Al Noor Pharmacy  174594
3   22310097                         Sahar Pharmacy  173135
9   22310207                         Delta Pharmacy  157500
4   22310102  Health &amp; Aesthetic Medical Center  135345

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 3px solid orange; margin:-7px 0px;"></p>

<p style="font-size:2.2em; padding:10px; border-bottom: 5px solid #ffb701; background:#492863;
          text-align:center"> 
    <span style="color: #debef7;"> Journal Entry </span> <br>
</p>

<p style="font-size:2.2em; padding:18px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    <span style="color: #fff;"> Journal Entry -  </span>
    <span style="font-size:.75em; color: #11a1f5;"> Show All Transactions </span>
</p>

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 1 - </span>
   <span style="font-size:1.4em; color:#e39607;">Get Company and Year - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Load Data </span>
</p>

In [295]:
import pandas as pd
import numpy as np
dfStd = pd.read_csv('data/basInfo.csv')
Year = str(dfStd.loc[0, 'year'])
coFolder = str(dfStd.loc[0, 'coFolder'])

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 2 - </span>
   <span style="font-size:1.4em; color:#e39607;">Read siBasic.csv File</span> 
</p>

In [304]:
req_cols = ['Ref','Type','Date','Comm', 'traDate', 'action']
fPath = "Data/" +coFolder+ "/" +Year+ "/C1_Gl/Journals/Journals.csv"
df = pd.read_csv(fPath, usecols=req_cols, index_col=False, encoding='unicode_escape')

In [305]:
### Filter the data by type ie 'ji'-------------------------
df = df[df['Type'] == 'jl']

In [306]:
df['unique'] =  df['Ref'].astype(str)+" "+df['traDate']

In [307]:
### Remove Duplicate Quote and Deleted Record...
df = df.drop_duplicates(subset=['unique'], keep='last')
df = df.drop(df.loc[df['action']=='Deleted'].index)

In [309]:
### file doesn't recongnize date formate first convert into date and than strftime
df['Date'] = pd.to_datetime(df['Date']).dt.strftime('%Y-%m-%d')

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 3 - </span>
   <span style="font-size:1.4em; color:#e39607;">Convert Data into Dictionary</span> 
</p>

In [302]:
 ### Convert Data into Json Dictionary
Data = df.to_dict(orient="records")

<p style="font-size:2em; padding:18px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    <span style="color: #fff;"> Journal Entry -  </span>
    <span style="font-size:.75em; color: #11a1f5;"> "Add Records" </span>
</p>

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 1 - </span>
   <span style="font-size:1.4em; color:#e39607;">Get Company and Year - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Load Data </span>
</p>

In [206]:
import pandas as pd
import numpy as np
dfStd = pd.read_csv('data/basInfo.csv')
Year = str(dfStd.loc[0, 'year'])
coFolder = str(dfStd.loc[0, 'coFolder'])

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 2 - </span>
   <span style="font-size:1.4em; color:#e39607;">Read journals.csv - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Get the last Journal Number </span>
</p>

In [207]:
req_cols = ['Ref', 'Type']
fPath = "Data/" +coFolder+ "/" +Year+ "/C1_Gl/Journals/Journals.csv"
df = pd.read_csv(fPath, usecols=req_cols, index_col=False, encoding='unicode_escape')

In [217]:
### Filter the data by type ie 'ji'-------------------------
filtered_df = df[df['Type'] == 'jl']

In [215]:
# Check if the DataFrame is empty max_value = 2300001 else get the max_value----------
if filtered_df.empty:
    max_value = 2300001
else:
    max_value = filtered_df['Ref'].max()

<p style="padding:5px 5px 5px 20px; border-bottom:3px solid orange; background:#3c5c75; margin:15px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#f7ca25;" >Get - </span>
   <span style="font-size:1.4em; color:white;">Country, Department, Brand List - </span> 
   <span style="font-size:1.2em; color:#17cffc;">to choose in drop down menu</span>
</p>

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 1 - </span>
   <span style="font-size:1.4em; color:#e39607;">Get Company and Year - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Load Data </span>
</p>

In [236]:
import pandas as pd
import numpy as np
dfStd = pd.read_csv('data/basInfo.csv')
Year = str(dfStd.loc[0, 'year'])
coFolder = str(dfStd.loc[0, 'coFolder'])

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 2 - </span>
   <span style="font-size:1.4em; color:#e39607;">Read DropDown.csv - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Get the list of Countries and Departments etc </span>
</p>

In [242]:
fPath = "Data/" +coFolder+ "/C1_Gl/DropDown/DropDown.csv"
df = pd.read_csv(fPath, index_col=False, encoding='unicode_escape')

In [234]:
Country = df[df['Type'] == 'Country']
countryList = Country['Description'].tolist()

In [240]:
Department = df[df['Type'] == 'Department']
departmentList = Department['Description'].tolist()

In [245]:
Brand = df[df['Type'] == 'Brand']
brandList = Brand['Description'].tolist()

<p style="padding:5px 5px 5px 20px; border-bottom:3px solid orange; background:#3c5c75; margin:15px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#f7ca25;" >Get - </span>
   <span style="font-size:1.4em; color:white;">Chart of Account List - </span> 
   <span style="font-size:1.2em; color:#17cffc;">to choose in drop down menu</span>
</p>

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 1 - </span>
   <span style="font-size:1.4em; color:#e39607;">Get Company and Year - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Load Data </span>
</p>

In [256]:
import pandas as pd
import numpy as np
dfStd = pd.read_csv('data/basInfo.csv')
Year = str(dfStd.loc[0, 'year'])
coFolder = str(dfStd.loc[0, 'coFolder'])

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 2 - </span>
   <span style="font-size:1.4em; color:#e39607;">Read DropDown.csv - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Get the list of Chart of Account </span>
</p>

In [257]:
fPath = "Data/" +coFolder+ "/C1_Gl/mergeTB.csv"
df = pd.read_csv(fPath, index_col=False, encoding='unicode_escape')

In [260]:
selCol = df[['code', 'head', 'level2']]
selCol = selCol.replace(r'^.. ', '', regex=True)    # Replace "1. " with ""

<p style="padding:5px 5px 5px 20px; border-bottom:3px solid orange; background:#3c5c75; margin:15px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#f7ca25;" >Journal Entry - </span>
   <span style="font-size:1.4em; color:white;">Entries.csv file </span> 
   <span style="font-size:1.2em; color:#17cffc;">Expenses Detail</span>
</p>

In [253]:
addRecords = []
Rec01 =  {'Ref':99, 'type': 'si', 'siDat':'2023-05-23', 'accCode':2450014, 'accName':'Test Customer', 'siComm':'General Comments','amount':84000 ,'traDate':'2023-05-22 5-04-47', 'action':" "}
Rec02 =  {'Ref':99, 'type': 'si', 'siDat':'2023-05-23', 'accCode':44280001, 'accName':'VAT Output Tax Payable', 'siComm':'General Comments','amount':-4000,'traDate':'2023-05-22 5-04-47', 'action':" "}
addRecords.append(customer)
addRecords.append(vat)
addRecords.append(sales)

Journal = pd.DataFrame(addRecords)
fPath = "Data/" +coFolder+ "/" +Year+ "/C1_Gl/Journals/Journals.csv"
Journal.to_csv(fPath, index=False, header=False, mode='a')

<p style="font-size:2em; padding:18px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    <span style="color: #fff;"> Journal Entry -  </span>
    <span style="font-size:.75em; color: #11a1f5;"> "Edit Records" </span>
</p>

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 1 - </span>
   <span style="font-size:1.4em; color:#e39607;">Get Company and Year - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Load Data </span>
</p>

In [354]:
import pandas as pd
import numpy as np
dfStd = pd.read_csv('data/basInfo.csv')
Year = str(dfStd.loc[0, 'year'])
coFolder = str(dfStd.loc[0, 'coFolder'])

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 2 - </span>
   <span style="font-size:1.4em; color:#e39607;">Read journals.csv - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Get the last Journal Number </span>
</p>

In [361]:
pk = 2300006
fPath = "Data/" +coFolder+ "/" +Year+ "/C1_Gl/Journals/Journals.csv"
df = pd.read_csv(fPath, index_col=False, encoding='unicode_escape')

In [362]:
### Filter the data by type ie 'ji'-------------------------
df = df[df['Type'] == 'jl']

In [363]:
### file doesn't recongnize date formate first convert into date and than strftime
df['Date'] = pd.to_datetime(df['Date']).dt.strftime('%Y-%m-%d')

In [364]:
df = df[df['Ref'] == pk].fillna(0) ### Filter as per 'pk' selected quote

In [365]:
df['unique'] =  df['Ref'].astype(str)+" "+df['accCode'].astype(str)  ### Create a Unique Column

In [366]:
df

,Ref,Type,Date,accCode,accHead,Amount,Comm,traDate,action,brand,department,country,unique
1339,2300006,jl,2023-06-11,51210001,BANK OF SHARJAH ( 011-06-277565) DH,25000,Disposal of Vehicle with Gain.,2023-6-11 13-42-40,,0,0,United Arab Emirates,2300006 51210001
1340,2300006,jl,2023-06-11,22500001,Moter Vehicle,-20000,Disposal of Vehicle with Gain.,2023-6-11 13-42-40,,0,0,United Arab Emirates,2300006 22500001
1341,2300006,jl,2023-06-11,77270005,Gain on Disposal of Fixed Asset,-5000,Disposal of Vehicle with Gain.,2023-6-11 13-42-40,,0,0,United Arab Emirates,2300006 77270005
1344,2300006,jl,2023-06-11,51210001,BANK OF SHARJAH ( 011-06-277565) DH,26000,Disposal of Vehicle with Gain.,2023-6-11 21-21-32,,ADSS,Medical,United Arab Emirates,2300006 51210001
1345,2300006,jl,2023-06-11,22500001,Moter Vehicle,-20500,Disposal of Vehicle with Gain.,2023-6-11 21-21-32,,Bruun MCI,Medical,United Arab Emirates,2300006 22500001
1346,2300006,jl,2023-06-11,77270005,Gain on Disposal of Fixed Asset,-5500,Disposal of Vehicle with Gain.,2023-6-11 21-21-32,,Caviation,Medical,United Arab Emirates,2300006 77270005

In [367]:
### Remove Duplicate Quote and Deleted Record...
df = df.drop_duplicates(subset=['unique'], keep='last')
df = df.drop(df.loc[df['action']=='Deleted'].index)

In [368]:
df

,Ref,Type,Date,accCode,accHead,Amount,Comm,traDate,action,brand,department,country,unique
1344,2300006,jl,2023-06-11,51210001,BANK OF SHARJAH ( 011-06-277565) DH,26000,Disposal of Vehicle with Gain.,2023-6-11 21-21-32,,ADSS,Medical,United Arab Emirates,2300006 51210001
1345,2300006,jl,2023-06-11,22500001,Moter Vehicle,-20500,Disposal of Vehicle with Gain.,2023-6-11 21-21-32,,Bruun MCI,Medical,United Arab Emirates,2300006 22500001
1346,2300006,jl,2023-06-11,77270005,Gain on Disposal of Fixed Asset,-5500,Disposal of Vehicle with Gain.,2023-6-11 21-21-32,,Caviation,Medical,United Arab Emirates,2300006 77270005

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 3 - </span>
   <span style="font-size:1.4em; color:#e39607;">Convert Data into Dictionary</span> 
</p>

In [352]:
 ### Convert Data into Json Dictionary
Data = df.to_dict(orient="records")

In [353]:
Data

[{'Ref': 2300006,
  'Type': 'jl',
  'Date': '2023-06-11',
  'accCode': 51210001,
  'accHead': 'BANK OF SHARJAH ( 011-06-277565) DH',
  'Amount': 25000,
  'Comm': 'Disposal of Vehicle with Gain.',
  'traDate': '2023-6-11 13-42-40',
  'action': ' ',
  'brand': 0,
  'department': 0,
  'country': 'United Arab Emirates',
  'unique': '2300006 51210001 25000'},
 {'Ref': 2300006,
  'Type': 'jl',
  'Date': '2023-06-11',
  'accCode': 22500001,
  'accHead': 'Moter Vehicle',
  'Amount': -20000,
  'Comm': 'Disposal of Vehicle with Gain.',
  'traDate': '2023-6-11 13-42-40',
  'action': ' ',
  'brand': 0,
  'department': 0,
  'country': 'United Arab Emirates',
  'unique': '2300006 22500001 -20000'},
 {'Ref': 2300006,
  'Type': 'jl',
  'Date': '2023-06-11',
  'accCode': 77270005,
  'accHead': 'Gain on Disposal of Fixed Asset',
  'Amount': -5000,
  'Comm': 'Disposal of Vehicle with Gain.',
  'traDate': '2023-6-11 13-42-40',
  'action': ' ',
  'brand': 0,
  'department': 0,
  'country': 'United Arab Emirates',
  'unique': '2300006 77270005 -5000'}]