<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 1px solid orange;"></p>

<p style="font-size:2.2em; color:white; padding:15px; border-bottom: 5px solid #ffb701; background:#143157; text-align:center;"> 
    Drill Down Report  <br> 
    <span style="font-size:.55em; color: #11a1f5;"> Journal Ledger </span>
</p>

In [5]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns

In [6]:
import os
import csv

In [7]:
###---Get Year-------------------------------------
#Year = "2023"
dfStd = pd.read_csv('data/basInfo.csv')
Year = str(dfStd.loc[0, 'year'])
coFolder = str(dfStd.loc[0, 'coFolder'])

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 3px solid orange; margin:-7px 0px;"></p>

<p style="font-size:2.2em; padding:10px; border-bottom: 5px solid #ffb701; background:#143157;
          text-align:center"> 
    <span style="color: #fff;"> Tracking of Quotation to Sales  </span> <br>
    <span style="font-size:.60em; color: #11a1f5;"> "C1_Gl" </span>
</p>

<p style="font-size:2em; padding:18px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    <span style="color: #fff;"> Tracking of Quotation to Sales -  </span>
    <span style="font-size:.75em; color: #11a1f5;"> "Entries" </span>
</p>

<p style="font-family:Calibri; font-size:1.2em; color:#061233; padding:2px 5px; margin: 5px 0 -7px 20px; border-bottom: 3px solid #0d1e4f; background: #f0f4ff">  
   <span style="font-size:1.2em; color:#384073;" >2. Reading of </span>
   <span style="font-size:1.2em; color:#821107;" >invoices.CSV</span>
   <span style="font-size:1.2em; color:#384073;" >file</span>
</p>

In [262]:
req_cols = ["siRef", "siDat", "cusName", "siTAT", "dlRef", "dlDat", "action"]
siPath = "Data/" +coFolder+ "/" +Year+ "/F1_Sales/Invoices/siBasic.csv"
siDf = pd.read_csv(siPath, usecols=req_cols, index_col=False, encoding='unicode_escape')

siStatPath = "Data/" +coFolder+ "/" +Year+ "/F1_Sales/Invoices/siStat.csv"
siStatDf = pd.read_csv(siStatPath, index_col=False, encoding='unicode_escape')

In [263]:
### Filter data by Sales Invoice Number ---------------------------------------
sInv = 2300131
siDf = siDf[siDf['siRef'] == sInv].fillna(0) 
siStatDf = siStatDf[siStatDf['siRefSt'] == sInv].fillna(0)

In [264]:
### Remove Duplicate Sales Invoice and Deleted Record...
siDf = siDf.drop_duplicates(subset=['siRef'], keep='last')
siDf = siDf.drop(siDf.loc[siDf['action']=='Deleted'].index).fillna('')

### Remove Duplicate Sales Invoice and Deleted Record...
siStatDf = siStatDf.drop_duplicates(subset=['siRefSt'], keep='last')
siStatDf = siStatDf.drop(siStatDf.loc[siStatDf['action']=='Deleted'].index).fillna('')
siStatDf = siStatDf.rename(columns={"siRefSt": "siRef"})
siMerge = pd.merge(siDf, siStatDf, on="siRef")

In [265]:
###..Get 'Quotation number' Value..................................
dlNm = siDf.loc[siDf['siRef'] == sInv, 'dlRef'].values[0]

<p style="font-family:Calibri; font-size:1.2em; color:#061233; padding:2px 5px; margin: 5px 0 -7px 20px; border-bottom: 3px solid #0d1e4f; background: #f0f4ff">  
   <span style="font-size:1.2em; color:#384073;" >3. Reading of </span>
   <span style="font-size:1.2em; color:#821107;" >deliveries.CSV</span>
   <span style="font-size:1.2em; color:#384073;" >file</span>
</p>

In [266]:
req_cols = ["dlRef", "dlDat", "cusName", "dlTAT", "soRef", "soDat", "traDate", "action"]
dlPath = "Data/" +coFolder+ "/" +Year+ "/F1_Sales/Deliveries/dlBasic.csv"
dlDf = pd.read_csv(dlPath, usecols=req_cols, index_col=False, encoding='unicode_escape')

dlStatPath = "Data/" +coFolder+ "/" +Year+ "/F1_Sales/Deliveries/dlStat.csv"
dlStatDf = pd.read_csv(dlStatPath, index_col=False, encoding='unicode_escape')

In [267]:
### Filter data by Delivery Note Number ---------------------------------------
dlDf = dlDf[dlDf['dlRef'] == dlNm].fillna(0) 
dlStatDf = dlStatDf[dlStatDf['dlRefSt'] == dlNm].fillna(0)

In [268]:
### Remove Duplicate Delivery Note and Deleted Record...
dlDf = dlDf.drop_duplicates(subset=['dlRef'], keep='last')
dlDf = dlDf.drop(dlDf.loc[dlDf['action']=='Deleted'].index).fillna('')

### Remove Duplicate Sales Invoice and Deleted Record...
dlStatDf = dlStatDf.drop_duplicates(subset=['dlRefSt'], keep='last')
dlStatDf = dlStatDf.drop(dlStatDf.loc[dlStatDf['action']=='Deleted'].index).fillna('')
dlStatDf = dlStatDf.rename(columns={"dlRefSt": "dlRef"})
dlMerge = pd.merge(dlDf, dlStatDf, on="dlRef")

In [269]:
###..Get 'Quotation number' Value..................................
soNm = dlDf.loc[dlDf['dlRef'] == dlNm, 'soRef'].values[0]

<p style="font-family:Calibri; font-size:1.2em; color:#061233; padding:2px 5px; margin: 5px 0 -7px 20px; border-bottom: 3px solid #0d1e4f; background: #f0f4ff">  
   <span style="font-size:1.2em; color:#384073;" >4. Reading of </span>
   <span style="font-size:1.2em; color:#821107;" >Orders.CSV</span>
   <span style="font-size:1.2em; color:#384073;" >file</span>
</p>

In [270]:
req_cols = ["soRef", "soDat", "cusName", "soTAT", "qotRef", "qotDat", "action"]
soPath = "Data/" +coFolder+ "/" +Year+ "/F1_Sales/Orders/soBasic.csv"
soDf = pd.read_csv(soPath, usecols=req_cols, index_col=False, encoding='unicode_escape')

soStatPath = "Data/" +coFolder+ "/" +Year+ "/F1_Sales/Orders/soStat.csv"
soStatDf = pd.read_csv(soStatPath, index_col=False, encoding='unicode_escape')

In [271]:
### Filter data by Sales Order Number ---------------------------------------
soDf = soDf[soDf['soRef'] == soNm].fillna(0) 
soStatDf = soStatDf[soStatDf['soRefSt'] == soNm].fillna(0)

In [272]:
### Remove Duplicate Sales Order and Deleted Record...
soDf = soDf.drop_duplicates(subset=['soRef'], keep='last')
soDf = soDf.drop(soDf.loc[soDf['action']=='Deleted'].index).fillna('')

### Remove Duplicate Sales Invoice and Deleted Record...
soStatDf = soStatDf.drop_duplicates(subset=['soRefSt'], keep='last')
soStatDf = soStatDf.drop(soStatDf.loc[soStatDf['action']=='Deleted'].index).fillna('')
soStatDf = soStatDf.rename(columns={"soRefSt": "soRef"})
soMerge = pd.merge(soDf, soStatDf, on="soRef")

In [273]:
###..Get 'Quotation number' Value..................................
qotNm = soDf.loc[soDf['soRef'] == soNm, 'qotRef'].values[0]

<p style="font-family:Calibri; font-size:1.2em; color:#061233; padding:2px 5px; margin: 5px 0 -7px 20px; border-bottom: 3px solid #0d1e4f; background: #f0f4ff">  
   <span style="font-size:1.2em; color:#384073;" >5. Reading of </span>
   <span style="font-size:1.2em; color:#821107;" >Quotation.CSV</span>
   <span style="font-size:1.2em; color:#384073;" >file</span>
</p>

In [274]:
req_cols = ["qotRef", "qotDat", "cusName", "qotTAT", "action"]
qotPath = "Data/" +coFolder+ "/" +Year+ "/F1_Sales/quotations/qotBasic.csv"
qotDf = pd.read_csv(qotPath, usecols=req_cols, index_col=False, encoding='unicode_escape')

qotStatPath = "Data/" +coFolder+ "/" +Year+ "/F1_Sales/quotations/qotStat.csv"
qotStatDf = pd.read_csv(qotStatPath, index_col=False, encoding='unicode_escape')

In [275]:
### Filter data by Sales Order Number ---------------------------------------
qotDf = qotDf[qotDf['qotRef'] == qotNm].fillna(0) 
qotStatDf = qotStatDf[qotStatDf['qotRefSt'] == qotNm].fillna(0)

In [276]:
### Remove Duplicate Sales Order and Deleted Record...
qotDf = qotDf.drop_duplicates(subset=['qotRef'], keep='last')
qotDf = qotDf.drop(qotDf.loc[qotDf['action']=='Deleted'].index).fillna('')

### Remove Duplicate Sales Invoice and Deleted Record...
qotStatDf = qotStatDf.drop_duplicates(subset=['qotRefSt'], keep='last')
qotStatDf = qotStatDf.drop(qotStatDf.loc[qotStatDf['action']=='Deleted'].index).fillna('')
qotStatDf = qotStatDf.rename(columns={"qotRefSt": "qotRef"})
qotMerge = pd.merge(qotDf, qotStatDf, on="qotRef")

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 3px solid orange; margin:-7px 0px;"></p>

<p style="font-size:2.2em; padding:10px; border-bottom: 5px solid #ffb701; background:#492863;
          text-align:center"> 
    <span style="color: #debef7;"> Journal Ledger </span> <br>
</p>

<p style="font-size:2.2em; padding:18px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    <span style="color: #fff;">syncGenLeger -  </span>
    <span style="font-size:.75em; color: #11a1f5;"> Journal Ledger CSV File </span>
</p>

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 1 - </span>
   <span style="font-size:1.4em; color:#e39607;">Get Company and Year - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Load Data </span>
</p>

In [70]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
#pd.set_option('display.float_format', '{:.0f}'.format)
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns
dfStd = pd.read_csv('data/basInfo.csv')
Year = str(dfStd.loc[0, 'year'])
coFolder = str(dfStd.loc[0, 'coFolder'])

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 2 - </span>
   <span style="font-size:1.4em; color:#e39607;">Read Journals.csv - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Refresh the data </span>
</p>

In [71]:
fPath = "Data/" +coFolder+ "/" +Year+ "/C1_Gl/Journals/Journals.csv"
df = pd.read_csv(fPath, index_col=False, encoding='unicode_escape').fillna(0)

In [72]:
df['unique'] = df['Ref'].astype(str)+ '-' +df['Type'].astype(str)+ '-' +df['accCode'].astype(str)

In [73]:
### Remove Duplicate Quote and Deleted Record...
ledger = df.drop_duplicates(subset=['unique'], keep='last')
ledger = ledger.drop(ledger.loc[ledger['action']=='Deleted'].index)

In [74]:
ledger = ledger.drop('unique', axis=1)

In [75]:
### Save the data in qotBasic.csv File...
fPath = "Data/" +coFolder+ "/" +Year+ "/C1_Gl/Journals/Journals.csv"
ledger.to_csv(fPath, index=False)

<p style="font-size:2.2em; padding:18px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    <span style="color: #fff;">Trial Balance -  </span>
    <span style="font-size:.75em; color: #11a1f5;"> To Extract Ledger </span>
</p>

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 1 - </span>
   <span style="font-size:1.4em; color:#e39607;">Get Company and Year - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Load Data </span>
</p>

In [52]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns
dfStd = pd.read_csv('data/basInfo.csv')
Year = str(dfStd.loc[0, 'year'])
coFolder = str(dfStd.loc[0, 'coFolder'])

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 2 - </span>
   <span style="font-size:1.4em; color:#e39607;">Read Multiple Files - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Create TB </span>
</p>

In [53]:
### Read Journals.csv to get the transaction detail...........................
fPath = "Data/" +coFolder+ "/" +Year+ "/C1_Gl/Journals/Journals.csv"
transaction = pd.read_csv(fPath, index_col=False, encoding='unicode_escape').fillna(0)

In [54]:
### Read mergeTB.csv to get to merge transactio with mergeTB...................
fPath = "Data/" +coFolder+ "/C1_Gl/mergeTB.csv"
mergeTB = pd.read_csv(fPath, index_col=False, encoding='unicode_escape').fillna(0)

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 3 - </span>
   <span style="font-size:1.4em; color:#e39607;">Create Pivot Table - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Create TB</span>
</p>

In [55]:
pTransaction = pd.pivot_table(transaction,index=["accCode","accHead"],values=["Amount"],aggfunc=[np.sum],fill_value=0)

In [56]:
pTransaction.columns = pTransaction.columns.droplevel(0)
pTransaction.reset_index(inplace=True)

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 4 - </span>
   <span style="font-size:1.4em; color:#e39607;">Merge pTransaction with mergeTB- </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Create TB</span>
</p>

In [57]:
merged_df = pTransaction.merge(mergeTB[['head', 'level1', 'level2', 'level3', 'level4']], left_on='accHead', right_on='head', how='left')
merged_df = merged_df.drop('head', axis=1).fillna('')  # Drop the 'head' column from the merged DataFrame

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 5 - </span>
   <span style="font-size:1.4em; color:#e39607;">Create Pivot Table - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Create TB</span>
</p>

In [58]:
final = pd.pivot_table(merged_df,index=["level4","accHead","accCode"],values=["Amount"],aggfunc=[np.sum],fill_value=0)

In [59]:
final.columns = final.columns.droplevel(0)
final.reset_index(inplace=True)

In [60]:
finalGBy = final.groupby(['level4']).agg({'Amount': 'sum'}) 
finalGBy.loc['z. Grand Total'] = finalGBy.sum()
finalGBy.reset_index(inplace=True)

In [61]:
tbConcat = pd.concat([final, finalGBy])

In [66]:
tbSort = tbConcat.sort_values(['level4','accHead'], ascending = [True,True], na_position ='last')

In [63]:
tbSort['accHead'] = tbSort['accHead'].fillna('Total')

In [50]:
### to Hide and Show----------------------------
tbSort['Department'] = tbSort['level4']
tbSort['Vertical'] = tbSort['level4']
tbSort.loc[tbSort["accHead"] != "Total", ["Vertical"]] = '---' #  rlSort["status"]

In [44]:
tbSort = tbSort.fillna('')

<p style="font-size:2.2em; padding:18px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    <span style="color: #fff;">Arangement of Trial Balance -  </span>
    <span style="font-size:.75em; color: #11a1f5;"> Extract from Different module and make it </span>
</p>

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 1 - </span>
   <span style="font-size:1.4em; color:#e39607;">Get Company and Year - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Load Data </span>
</p>

In [13]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns
dfStd = pd.read_csv('data/basInfo.csv')
Year = str(dfStd.loc[0, 'year'])
coFolder = str(dfStd.loc[0, 'coFolder'])

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 2 - </span>
   <span style="font-size:1.4em; color:#e39607;">Read CustMaster.csv - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Refresh the data </span>
</p>

In [21]:
req_cols = ['cusCode','cusName']
fPath = "Data/" +coFolder+ "/" +Year+ "/F1_Sales/Customers/CustMaster.csv"
customer = pd.read_csv(fPath, usecols=req_cols, index_col=False, encoding='unicode_escape').fillna(0)
customer['level1'] = '1. Assets'
customer['level2'] = '2. Current Assets'
customer['level3'] = '3. Trade Receivables'
customer['level4'] = 'Trade Receivables'

In [22]:
customer = customer.rename(columns={'cusCode': 'code', 'cusName': 'head'})

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 2 - </span>
   <span style="font-size:1.4em; color:#e39607;">Read detailTB.csv - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Refresh the data </span>
</p>

In [23]:
req_cols = ['code','head','level1','level2','level3','level4']
fPath = "Data/" +coFolder+ "/C1_Gl/detailTB.csv"
TB = pd.read_csv(fPath, usecols=req_cols, index_col=False, encoding='unicode_escape').fillna(0)

In [24]:
mergTB = pd.concat([TB, customer])
mergTB = mergTB.reset_index(drop=True) ### Reset the index of the merged DataFrame

In [26]:
fPath = "Data/" +coFolder+ "/C1_Gl/mergeTB.csv"
mergTB.to_csv(fPath, index=False)

<p style="font-size:2.2em; padding:18px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    <span style="color: #fff;">Ledger -  </span>
    <span style="font-size:.75em; color: #11a1f5;"> General Ledger CSV File </span>
</p>

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 1 - </span>
   <span style="font-size:1.4em; color:#e39607;">Get Company and Year - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Load Data </span>
</p>

In [85]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
#pd.set_option('display.float_format', '{:.0f}'.format)
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns
dfStd = pd.read_csv('data/basInfo.csv')
Year = str(dfStd.loc[0, 'year'])
coFolder = str(dfStd.loc[0, 'coFolder'])

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 2 - </span>
   <span style="font-size:1.4em; color:#e39607;">Read dlBasic.csv - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Get the last Delivery Number </span>
</p>

In [86]:
fPath = "Data/" +coFolder+ "/" +Year+ "/C1_Gl/Journals/Journals.csv"
df = pd.read_csv(fPath, index_col=False, encoding='unicode_escape').fillna(0)

In [87]:
pk = 22310280
dfA  = df[df['accCode'] == pk].fillna(0) ### Filter data as per 'pk' selected quote

In [88]:
dfA

,Ref,Type,Date,accCode,accHead,Amount,Comm,traDate,action
296,2300031,si,2023-02-03,22310280,Gulf Beauty Salon - Abu Dhabi,142800,G5 Slimming & Hiemt A to Gulf Beauty Salon - A...,2023-5-29 22-38-7,0
344,2300047,si,2023-04-18,22310280,Gulf Beauty Salon - Abu Dhabi,32839,Near Salam Furniture Old Airport Road Abu Dhab...,2023-5-29 22-41-26,0
350,2300049,si,2023-03-04,22310280,Gulf Beauty Salon - Abu Dhabi,29379,SVTA Radio and hand piece to Gulf Beauty Salo...,2023-5-29 22-41-51,0

In [79]:
ledgerA = dfA[['Date','accCode','accHead','Ref','Type','Amount','Comm']]

In [83]:
ledgerB = ledgerA.copy()

In [84]:
ledgerB['Balance'] = ledgerB['Amount'].cumsum()
ledgerB

,Date,accCode,accHead,Ref,Type,Amount,Balance
296,2023-02-03,22310280,Gulf Beauty Salon - Abu Dhabi,2300031,si,142800,142800
344,2023-04-18,22310280,Gulf Beauty Salon - Abu Dhabi,2300047,si,32839,175639
350,2023-03-04,22310280,Gulf Beauty Salon - Abu Dhabi,2300049,si,29379,205018

<p style="font-size:2.2em; padding:18px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    <span style="color: #fff;">Sales Analysis -  </span>
    <span style="font-size:.75em; color: #11a1f5;"> Detail Sales Analysis </span>
</p>

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 1 - </span>
   <span style="font-size:1.4em; color:#e39607;">Get Company and Year - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Load Data </span>
</p>

In [97]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
#pd.set_option('display.float_format', '{:.0f}'.format)
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns
dfStd = pd.read_csv('data/basInfo.csv')
Year = str(dfStd.loc[0, 'year'])
coFolder = str(dfStd.loc[0, 'coFolder'])

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 2 - </span>
   <span style="font-size:1.4em; color:#e39607;">Read dlBasic.csv - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Get the last Delivery Number </span>
</p>

In [98]:
fPath = "Data/" +coFolder+ "/" +Year+ "/C1_Gl/Journals/Journals.csv"
df = pd.read_csv(fPath, index_col=False, encoding='unicode_escape').fillna(0)

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 3 - </span>
   <span style="font-size:1.4em; color:#e39607;">Create Customer Pivot Table - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Get top 10 Customer</span>
</p>

In [99]:
### Filter data To Get Customer Only --------------------------------------
dfA  = df[df['Type'] == 'si'].fillna(0)
filtered_df = dfA[(dfA['accCode'] >= 20000000) & (dfA['accCode'] <= 29999999)]

In [104]:
### Create Pivot Table -----------------------------------------
byCustomer = pd.pivot_table(filtered_df,index=["accCode","accHead"],values=["Amount"],aggfunc=[np.sum],fill_value=0)
byCustomer.columns = byCustomer.columns.droplevel(0)
byCustomer.reset_index(inplace=True)

In [108]:
### Create Top 10 Customer -----------------------------------------
sorted_df = byCustomer.sort_values('Amount', ascending=False)  # Sort the DataFrame
top_10 = sorted_df.head(10) # Filter the top 10 rows

In [109]:
top_10

     accCode                                accHead  Amount
7   22310182                      Spaces Spa Center  245238
2   22310093    Women's Medical Center (Dr. Ameena)  233704
8   22310200                   German Clinic FZ LLC  215828
13  22310280          Gulf Beauty Salon - Abu Dhabi  205018
12  22310269                       Flora Beauty Spa  189210
0   22310029                     Al Jameya Pharmacy  184742
1   22310055                       Al Noor Pharmacy  174594
3   22310097                         Sahar Pharmacy  173135
9   22310207                         Delta Pharmacy  157500
4   22310102  Health &amp; Aesthetic Medical Center  135345