<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 1px solid orange;"></p>

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #ffb701; background:#143157;"> 
Save as CSV (Customer Master Data) </p>
Extract Customer Complete Information and Save as CSV file

In [19]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 1 - Create Engine and read data in Pandas </p>

<p style="font-family:Calibri; font-size:1.75em; color:#04405e; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #e39c19; background: #afe4ff;">  
Step 1a - Create SQL Engine</p>

In [20]:
import sqlite3
import sqlalchemy

# here db.sqlite3 is the name mention in settings.py under Databases; and 
# path should be absolute where 'db.sqlite3' file exist
#------------------------------------------------------------------------
engine = sqlalchemy.create_engine('sqlite:///D:/IUH/2. Programming/2. App/1a BaseERP/db.sqlite3')

<p style="font-family:Calibri; font-size:1.75em; color:#04405e; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #e39c19; background: #afe4ff;">  
Step 1b - Read Data from SQL </p>

In [21]:
basic = pd.read_sql('''SELECT * FROM "F1_Sales_cusBasic" ''', con=engine)
Extra = pd.read_sql('''SELECT * FROM "F1_Sales_cusExtra" ''', con=engine)

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 2 - Merge "Basic & Extra" Dataframe by Customer ID </p>

In [22]:
Combined = pd.merge(basic, Extra, on=["cusCode"])
Combined = Combined.drop("id_y", axis=1)
Combined = Combined.rename(columns={'id_x': 'id'})

In [23]:
Combined['comment'] = ''

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 3 - Create a "Customer" Folder inside "Data/F1_Sales" Folder </p>

In [24]:
import os

data_folder = "Data/F1_Sales"
sales_folder = "Customer"

if not os.path.exists(os.path.join(data_folder, sales_folder)):
    os.makedirs(os.path.join(data_folder, sales_folder))
else:
    pass

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 4 - Save Customer Master File as CSV File </p>

In [26]:
#https://sparkbyexamples.com/pandas/pandas-write-dataframe-to-csv-file/
Combined.to_csv('Data/F1_Sales/Customer/CustMaster.csv',index = False)

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 1px solid orange;"></p>

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 1px solid orange; background:#f5eab8"></p>

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    Get Customer Detail - <span style="font-size:.75em; color: #11a1f5;"> Customer Code and Name </span></p>
<<< f1_cusList >>>

In [46]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 1 - Read CSV files </p>

In [47]:
req_cols = ['cusCode','cusName', 'comment']
fPath = "Data/F1_Sales/Customer/CustMaster.csv"
df = pd.read_csv(fPath, usecols=req_cols, index_col=False, encoding='unicode_escape').fillna(0)

<p style="font-family:Calibri; font-size:1.2em; color:#061233; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #0d1e4f; background: #e3e9fa">  
Step 1a- Remove Duplicate Line and Deleted Record </p>

In [48]:
df = df.drop_duplicates(subset=['cusCode'], keep='last')
df = df.drop(df.loc[df['comment']=='Delete'].index)

In [52]:
### Convert Data into Json Dictionary..................
Data = df.to_dict(orient="records")

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 1px solid orange; background:#f5eab8"></p>

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #ffb701; background:#143157;"> 
Show Customer Details </p>
Read data from csv in Pandas

In [27]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 2 - Remove Duplicate Entry </p>

In [29]:
# remove duplicate rows and keep only the last occurrence subequently if that customer Code added
# will show because keep last record will not have 'Delete' in comment column
DataA = df.drop_duplicates(subset=['cusCode'], keep='last')
DataB = DataA.drop(DataA.loc[DataA['comment']=='Delete'].index)

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 3 - Convert into Json </p>

In [30]:
### Convert Data into Json Dictionary (can be access by JavaScript) .........
Data = DataB.to_dict(orient="records")

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 1px solid orange;"></p>

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #ffb701; background:#143157;"> 
Show Customer Specific Details </p>
Read data from csv in Pandas

In [6]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 1 - Read CSV files </p>

In [7]:
###---- Customer Master File to Get Last Quotation Number -------------
req_cols = ['cusCode','cusName', 'cusBillTo','cusShipTo', 'comment']
df = pd.read_csv("Data/F1_Sales/Customer/CustMaster.csv", usecols=req_cols).fillna(0)

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 2 - Remove Duplicate Entry </p>

In [8]:
# remove duplicate rows and keep only the last occurrence subequently if that customer Code added
# will show because keep last record will not have 'Delete' in comment column
DataA = df.drop_duplicates(subset=['cusCode'], keep='last')
DataB = DataA.drop(DataA.loc[DataA['comment']=='Delete'].index)
DataB = DataB.drop('comment', axis=1)

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 3 - Convert into Json </p>

In [9]:
### Convert Data into Json Dictionary (can be access by JavaScript) .........
Data = DataB.to_dict(orient="records")

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 1px solid orange;"></p>

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #ffb701; background:#143157;"> 
Show Items Specific Details </p>
Read data from csv in Pandas

In [1]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 1 - Read CSV files </p>

In [2]:
###---- Customer Master File to Get Last Quotation Number -------------
req_cols = ['itmCode','itmName', 'comment']
df = pd.read_csv("Data/H1_Items/Item/ItemMaster.csv", usecols=req_cols).fillna(0)

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 2 - Remove Duplicate Entry </p>

In [3]:
# remove duplicate rows and keep only the last occurrence
DataA = df.drop_duplicates(subset=['itmCode'], keep='last')
# remove rows where comment column have string 'Delele'
DataB = DataA.drop(DataA.loc[DataA['comment']=='Delete'].index)
DataB = DataB.drop('comment', axis=1)

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 3 - Convert into Json </p>

In [6]:
### Convert Data into Json Dictionary..................
Data = DataB.to_dict(orient="records")

In [26]:
abc = '20230032'
num = int(abc[4:])+1

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #ffb701; background:#143157;"> 
Last id Number from DataBase </p>
Read data from csv in Pandas

In [4]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 1 - Create Engine and read data in Pandas </p>

<p style="font-family:Calibri; font-size:1.75em; color:#04405e; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #e39c19; background: #afe4ff;">  
Step 1a - Create SQL Engine</p>

In [5]:
import sqlite3
import sqlalchemy

# here db.sqlite3 is the name mention in settings.py under Databases; and 
# path should be absolute where 'db.sqlite3' file exist
#------------------------------------------------------------------------
engine = sqlalchemy.create_engine('sqlite:///D:/IUH/2. Programming/2. App/1a BaseERP-CSV/db.sqlite3')

<p style="font-family:Calibri; font-size:1.75em; color:#04405e; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #e39c19; background: #afe4ff;">  
Step 1b - Read Data from SQL </p>

In [6]:
Max = '''SELECT MAX(id) FROM "F1_Sales_qotAddi"'''
df2 = pd.read_sql(Max, con=engine)
val = df2.rename(columns={df2.columns[0]: 'new'})
val.fillna(0, inplace=True)
lastN = val.loc[0, 'new']
lastN  = lastN+1
lastN

5

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 1px solid orange;"></p>

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #ffb701; background:#143157;"> 
Last id Number from Excel File </p>
Read data from csv in Pandas

In [1]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 1 - Qutation File to Get Last Quotation Number </p>

In [2]:
req_quot = ['qotRef']
dfQuot = pd.read_csv("Data/F1_Sales/Quotation/salQuot2023.csv", usecols=req_quot)
lastQuot = dfQuot['qotRef'].max()

In [4]:
# check if the variable is NaN and replace it with 1 if it is blank count as 0 need where there is no Record
if (lastQuot >= 0):
    pass
else:
    lastQuot = 0
print(lastQuot)

0

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 1px solid orange;"></p>

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #ffb701; background:#143157;"> 
Show Quotation Details </p>
Read data from csv in Pandas

In [1]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 1 - Read CSV files </p>

In [2]:
###---- Read Customer Master File 'cusCode and cusName' columns -------------
req_cols = ['cusCode','cusName']
dfSal = pd.read_csv("Data/F1_Sales/Customer/CustMaster.csv", usecols=req_cols).fillna(0)

###---- Read Quotation master File ------------------------------------------
DataA = pd.read_csv("Data/F1_Sales/Quotation/salQuot2023.csv").fillna(0)

In [3]:
DataA['customer'] = DataA['cusCode']

In [4]:
#Convert Customer Data Fram into Python List--------------------------------------
dfSalA = dfSal.set_index('cusCode') # set CusCode As Index
data_dict = dfSalA['cusName'].to_dict() # Convert the DataFrame to a dictionary
DataA.customer = DataA.customer.map(data_dict).fillna(0) ### map to lookup data_dict

In [5]:
DataA.loc[DataA["customer"] == 0, ["customer"]] = DataA["cusCode"]
### same function as above but due to np it is faster
#DataA["customer"] = np.where(DataA["customer"] == 0, DataA['cusCode'], DataA["customer"])
DataA["customer"] = DataA["customer"].apply(lambda x: str(x) + '-A' if isinstance(x, (int, float)) else x)

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 2 - Remove Duplicate Entry </p>

In [6]:
# remove duplicate rows and keep only the last occurrence subequently if that customer Code added
# will show because keep last record will not have 'Delete' in comment column
DataA = DataA.drop_duplicates(subset=['qotRef'], keep='last')
DataB = DataA.drop(DataA.loc[DataA['comment']=='Delete'].index)

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 3 - Convert into Json </p>

In [7]:
### Convert Data into Json Dictionary (can be access by JavaScript) .........
Data = DataB.to_dict(orient="records")

In [8]:
Data

[{'id': 20230001,
  'qotRef': 20230001,
  'qotDat': '2023-04-21',
  'cusCode': 22310093,
  'cusName': "Women's Medical Center (Dr. Ameena)",
  'qotTBD': 13539.0,
  'qotTAD': 12979.0,
  'qotTax': 648.95,
  'qotTAT': 13627.95,
  'shipTo': '1st Floor Office No. 7 Al Mamzar Center Near Al Mulla Plaza Dubai',
  'qotComm': "Nutrient Toner & Nutrient Toner to Women's Medical Center (Dr. Ameena)",
  'salPer': 'Tariq Naeem',
  'opnClo': 'Open',
  'comment': 0.0,
  'customer': "Women's Medical Center (Dr. Ameena)"},
 {'id': 20230002,
  'qotRef': 20230002,
  'qotDat': '2023-04-21',
  'cusCode': 22310102,
  'cusName': 'Health &amp; Aesthetic Medical Center',
  'qotTBD': 68700.0,
  'qotTAD': 49200.0,
  'qotTax': 2460.0,
  'qotTAT': 51660.0,
  'shipTo': 'Buheira Corniche - Sharjah United Arab Emirates',
  'qotComm': 'Galderma Product to Health &amp; Aesthetic Medical Center',
  'salPer': 'James William',
  'opnClo': 'Open',
  'comment': 0.0,
  'customer': 'Health & Aesthetic Medical Center'},
 {'id': 20230003,
  'qotRef': 20230003,
  'qotDat': '2023-04-17',
  'cusCode': 22310097,
  'cusName': 'Sahar Pharmacy',
  'qotTBD': 17600.0,
  'qotTAD': 10600.0,
  'qotTax': 530.0,
  'qotTAT': 11130.0,
  'shipTo': 'Qasimia - behind Al Dewan Al Amere Sharjah United Arab Emirates',
  'qotComm': 'Shrinking Violet Extreme Booster to Sahar Pharmacy',
  'salPer': 'George A.',
  'opnClo': 'Open',
  'comment': 0.0,
  'customer': 'Sahar Pharmacy'},
 {'id': 20230004,
  'qotRef': 20230004,
  'qotDat': '2023-01-16',
  'cusCode': 22310626,
  'cusName': 'Slim Spa - Dubai',
  'qotTBD': 34400.0,
  'qotTAD': 31700.0,
  'qotTax': 1585.0,
  'qotTAT': 33285.0,
  'shipTo': '206 Al Attar Tower Dubai United Arab Emirates',
  'qotComm': 'SRS Body Fit Corporel to Slim Spa - Dubai',
  'salPer': 'Sara',
  'opnClo': 'Open',
  'comment': 0.0,
  'customer': '22310626-A'},
 {'id': 20230005,
  'qotRef': 20230005,
  'qotDat': '2023-01-16',
  'cusCode': 22310626,
  'cusName': 'Slim Spa - Dubai',
  'qotTBD': 29550.0,
  'qotTAD': 23050.0,
  'qotTax': 1152.5,
  'qotTAT': 24202.5,
  'shipTo': '206 Al Attar Tower Dubai United Arab Emirates',
  'qotComm': 'Multiple Items to Slim Spa - Dubai',
  'salPer': 'Benjamin',
  'opnClo': 'Open',
  'comment': 0.0,
  'customer': '22310626-A'},
 {'id': 20230006,
  'qotRef': 20230006,
  'qotDat': '2023-02-23',
  'cusCode': 22310773,
  'cusName': 'BETTER MEDICAL SOLUTIONS LLC (COSMECLIC).',
  'qotTBD': 57000.0,
  'qotTAD': 48500.0,
  'qotTax': 2425.0,
  'qotTAT': 50925.0,
  'shipTo': 'Muscat Oman',
  'qotComm': 'Planmeca Products to BETTER MEDICAL SOLUTIONS LLC (COSMECLIC).',
  'salPer': 'Sara',
  'opnClo': 'Open',
  'comment': 0.0,
  'customer': '22310773-A'},
 {'id': 20230008,
  'qotRef': 20230008,
  'qotDat': '2023-04-21',
  'cusCode': 22310135,
  'cusName': 'Bait Al Maqdes Pharmacy LLC',
  'qotTBD': 7500.0,
  'qotTAD': 6390.0,
  'qotTax': 319.5,
  'qotTAT': 6709.5,
  'shipTo': 'Al Wahda St. Sharjah United Arab Emirates',
  'qotComm': 'Ultra Peel II 100ml & Weightless Prot. SPF 45.2.2 Oz  to Bait Al Maqdes Pharmacy LLC',
  'salPer': 'John William',
  'opnClo': 'Open',
  'comment': 0.0,
  'customer': '22310135-A'},
 {'id': 20230009,
  'qotRef': 20230009,
  'qotDat': '2023-04-21',
  'cusCode': 22310021,
  'cusName': 'Mohammed Hamoud Alshaya(LLC) -Dubai Br',
  'qotTBD': 100.0,
  'qotTAD': 90.0,
  'qotTax': 4.5,
  'qotTAT': 94.5,
  'shipTo': 'PO BOX 1277',
  'qotComm': 'PCA SKIN Fan to Mohammed Hamoud Alshaya(LLC) -Dubai Br',
  'salPer': 'Hammed',
  'opnClo': 'Open',
  'comment': 0.0,
  'customer': '22310021-A'},
 {'id': 20230011,
  'qotRef': 20230011,
  'qotDat': '2023-04-21',
  'cusCode': 22310270,
  'cusName': 'Gulf Diagnostic Centre Hospital- WLL',
  'qotTBD': 1400.0,
  'qotTAD': 1340.0,
  'qotTax': 67.0,
  'qotTAT': 1407.0,
  'shipTo': 'Al Khaleej Al Arabi Street',
  'qotComm': 'Excel V Calibration Fiber 600 um to Gulf Diagnostic Centre Hospital- WLL',
  'salPer': 'Sara',
  'opnClo': 'Open',
  'comment': 0.0,
  'customer': '22310270-A'},
 {'id': 20230012,
  'qotRef': 20230012,
  'qotDat': '2023-04-21',
  'cusCode': 2310101,
  'cusName': 'Cash Customer',
  'qotTBD': 400.0,
  'qotTAD': 380.0,
  'qotTax': 19.0,
  'qotTAT': 399.0,
  'shipTo': '0',
  'qotComm': '0',
  'salPer': '0',
  'opnClo': 'Open',
  'comment': 0.0,
  'customer': '2310101-A'},
 {'id': 20230013,
  'qotRef': 20230013,
  'qotDat': '2023-04-22',
  'cusCode': 2310101,
  'cusName': 'Cash Customer',
  'qotTBD': 2500.0,
  'qotTAD': 2450.0,
  'qotTax': 122.5,
  'qotTAT': 2572.5,
  'shipTo': '0',
  'qotComm': '0',
  'salPer': '0',
  'opnClo': 'Open',
  'comment': 0.0,
  'customer': '2310101-A'},
 {'id': 20230014,
  'qotRef': 20230014,
  'qotDat': '2023-04-23',
  'cusCode': 22310037,
  'cusName': 'Qmedic (close account)',
  'qotTBD': 500.0,
  'qotTAD': 470.0,
  'qotTax': 23.5,
  'qotTAT': 493.5,
  'shipTo': 'Al Nasr Area 39 - Bin Sanan Street Old Blue Saloon Bldg#23  4th Floor',
  'qotComm': 'Test',
  'salPer': 'test man',
  'opnClo': 'Open',
  'comment': 0.0,
  'customer': '22310037-A'},
 {'id': 20230015,
  'qotRef': 20230015,
  'qotDat': '2023-04-23',
  'cusCode': 22310093,
  'cusName': "Women's Medical Center (Dr. Ameena)",
  'qotTBD': 100.0,
  'qotTAD': 90.0,
  'qotTax': 4.5,
  'qotTAT': 94.5,
  'shipTo': '1st Floor Office No. 7 Al Mamzar Center Near Al Mulla Plaza Dubai',
  'qotComm': 'sdf',
  'salPer': 'asdf',
  'opnClo': 'Open',
  'comment': 0.0,
  'customer': "Women's Medical Center (Dr. Ameena)"},
 {'id': 20230019,
  'qotRef': 20230019,
  'qotDat': '2023-05-06',
  'cusCode': 22310012,
  'cusName': 'Specialized Medical Care Hospital ',
  'qotTBD': 500.0,
  'qotTAD': 480.0,
  'qotTax': 24.0,
  'qotTAT': 504.0,
  'shipTo': 'Al Jahili Area, Alain',
  'qotComm': 0,
  'salPer': 0,
  'opnClo': 'Open',
  'comment': 0.0,
  'customer': '22310012-A'},
 {'id': 20230021,
  'qotRef': 20230021,
  'qotDat': '2023-05-10',
  'cusCode': 22310102,
  'cusName': 'Health &amp; Aesthetic Medical Center ',
  'qotTBD': 350.0,
  'qotTAD': 320.0,
  'qotTax': 16.0,
  'qotTAT': 336.0,
  'shipTo': 'Ship to abc',
  'qotComm': 'Description ABC',
  'salPer': 'ABC',
  'opnClo': 'Open',
  'comment': 0.0,
  'customer': 'Health & Aesthetic Medical Center'},
 {'id': 20230022,
  'qotRef': 20230022,
  'qotDat': '2023-05-10',
  'cusCode': 22310093,
  'cusName': "Women's Medical Center (Dr. Ameena) ",
  'qotTBD': 625940.0,
  'qotTAD': 495940.0,
  'qotTax': 24797.0,
  'qotTAT': 520737.0,
  'shipTo': 'Ship to New Customer',
  'qotComm': 'Description of New Customer',
  'salPer': '12553',
  'opnClo': 'Open',
  'comment': 0.0,
  'customer': "Women's Medical Center (Dr. Ameena)"},
 {'id': 20230023,
  'qotRef': 20230023,
  'qotDat': '2023-05-10',
  'cusCode': 22310097,
  'cusName': 'Sahar Pharmacy ',
  'qotTBD': 976325.0,
  'qotTAD': 972825.0,
  'qotTax': 48641.0,
  'qotTAT': 1021466.0,
  'shipTo': 'sdfdsf',
  'qotComm': 'sdfsdf',
  'salPer': '329',
  'opnClo': 'Open',
  'comment': 0.0,
  'customer': 'Sahar Pharmacy'},
 {'id': 20230024,
  'qotRef': 20230024,
  'qotDat': '2023-05-10',
  'cusCode': 22310097,
  'cusName': 'Sahar Pharmacy ',
  'qotTBD': 961800.0,
  'qotTAD': 811800.0,
  'qotTax': 40590.0,
  'qotTAT': 852390.0,
  'shipTo': 'Qasimia - behind Al Dewan Al Amere Sharjah United Arab Emirates',
  'qotComm': 'fsfsdffdsdf',
  'salPer': '366',
  'opnClo': 'Open',
  'comment': 0.0,
  'customer': 'Sahar Pharmacy'},
 {'id': 20230025,
  'qotRef': 20230025,
  'qotDat': '2023-05-10',
  'cusCode': 22310093,
  'cusName': "Women's Medical Center (Dr. Ameena) ",
  'qotTBD': 1539800.0,
  'qotTAD': 1434800.0,
  'qotTax': 71740.0,
  'qotTAT': 1506540.0,
  'shipTo': '1st Floor Office No. 7 Al Mamzar Center Near Al Mulla Plaza Dubai',
  'qotComm': 'sdfsadfasf',
  'salPer': '329',
  'opnClo': 'Open',
  'comment': 0.0,
  'customer': "Women's Medical Center (Dr. Ameena)"},
 {'id': 20230026,
  'qotRef': 20230026,
  'qotDat': '2023-05-11',
  'cusCode': 22310102,
  'cusName': 'Health &amp; Aesthetic Medical Center ',
  'qotTBD': 468650.0,
  'qotTAD': 318650.0,
  'qotTax': 15933.0,
  'qotTAT': 334583.0,
  'shipTo': 'Buheira Corniche - Sharjah United Arab Emirates',
  'qotComm': 'sdgdsfgsdf',
  'salPer': '417',
  'opnClo': 'Open',
  'comment': 0.0,
  'customer': 'Health & Aesthetic Medical Center'},
 {'id': 20230027,
  'qotRef': 20230027,
  'qotDat': '2023-05-11',
  'cusCode': 22310102,
  'cusName': 'Health &amp; Aesthetic Medical Center ',
  'qotTBD': 2459135.0,
  'qotTAD': 2086345.0,
  'qotTax': 104317.0,
  'qotTAT': 2190662.0,
  'shipTo': 'Buheira Corniche - Sharjah United Arab Emirates',
  'qotComm': 'Sales of Microneedling',
  'salPer': '329',
  'opnClo': 'Open',
  'comment': 0.0,
  'customer': 'Health & Aesthetic Medical Center'}]

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 1px solid orange;"></p>

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #ffb701; background:#143157;"> 
Last Quotation id Number from Database </p>
Read data from csv in Pandas

<p style="font-family:Calibri; font-size:1.75em; color:#04405e; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #e39c19; background: #afe4ff;">  
Step 1a - Create SQL Engine</p>

In [10]:
import sqlite3
import sqlalchemy

# here db.sqlite3 is the name mention in settings.py under Databases; and 
# path should be absolute where 'db.sqlite3' file exist
#------------------------------------------------------------------------
engine = sqlalchemy.create_engine('sqlite:///D:/IUH/2. Programming/2. App/1a BaseERP/db.sqlite3')

<p style="font-family:Calibri; font-size:1.75em; color:#04405e; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #e39c19; background: #afe4ff;">  
Step 1b - Read Data from SQL </p>

In [11]:
Max = '''SELECT MAX(id) FROM "F1_Sales_qotBasic"'''
df2 = pd.read_sql(Max, con=engine)
val = df2.rename(columns={df2.columns[0]: 'new'})
val.fillna(0, inplace=True)
lastN = val.loc[0, 'new']
lastN  = lastN+1
lastN

20230012

In [4]:
# check if the variable is NaN and replace it with 1 if it is blank count as 0 need where there is no Record
if (lastQuot >= 0):
    pass
else:
    lastQuot = 0
print(lastQuot)

0

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 1px solid orange;"></p>

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #ffb701; background:#143157;"> 
Refresh Sales Quotation Details - from Database </p>
Read data from csv in Pandas

In [10]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 1 - Create Engine and read data in Pandas </p>

<p style="font-family:Calibri; font-size:1.75em; color:#04405e; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #e39c19; background: #afe4ff;">  
Step 1a - Create SQL Engine</p>

In [11]:
import sqlite3
import sqlalchemy

#------------------------------------------------------------------------
engine = sqlalchemy.create_engine('sqlite:///D:/IUH/2. Programming/2. App/1a BaseERP/db.sqlite3')

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 1 - Read CSV files </p>

In [12]:
###---- Qutation open/Close File to Get Last Quotation Number -------------
DataA = pd.read_sql('''SELECT * FROM "F1_Sales_qotBasic" ''', con=engine).fillna(0)

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 2 - Create a "Quotation" Folder inside "Data/F1_Sales" Folder </p>

In [13]:
import os
data_folder = "Data/F1_Sales"
sales_folder = "Quotation"

if not os.path.exists(os.path.join(data_folder, sales_folder)):
    os.makedirs(os.path.join(data_folder, sales_folder))
else:
    pass

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 3 - Save Customer Master File as CSV File </p>

In [14]:
DataA['comment'] = ''
DataA.to_csv('Data/F1_Sales/Quotation/salQuot2023.csv',index = False)

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #0790e0; background:#fcb321;"> 
<span style="font-size:.75em; color: #11a1f5;">  </span>  </p>
<<< Quotation Profitablility >>>

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    Sales Quotation Profitability - <span style="font-size:.75em; color: #11a1f5;"> from excel file </span></p>
Read data from csv in Pandas

In [1]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns

import sqlite3
import sqlalchemy
engine = sqlalchemy.create_engine('sqlite:///D:/IUH/2. Programming/2. App/1a BaseERP/db.sqlite3')

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 1 - Read Item Salece Price </p>

In [2]:
req_Column = ['itmCode', 'uPrice']
SP = pd.read_csv("Data/H1_Items/Item/ItemSalPrice.csv", usecols=req_Column ,encoding='unicode_escape').fillna(0)
SP = SP.drop_duplicates(subset=['itmCode'], keep='last')
SP = SP.to_dict(orient="records")   ### Convert Data into Dictionary
SPList = {item['itmCode']: item['uPrice'] for item in SP} # Extract desired values into a new dictionary

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 2 - Read Sales Quote Basic for Employee  </p>

In [3]:
pk = "20230003"
queryBasic = f'SELECT * FROM "F1_Sales_qotBasic" WHERE qotRef = {pk}'
qotBasic = pd.read_sql(queryBasic, con=engine)
empCode = int(qotBasic['salPer'][0]) #get employee code

In [4]:
qotBasi = qotBasic.to_dict(orient="records")

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 3 - Read Employee Cost </p>

In [5]:
req_Column = ['empCode', 'itemCode', 'salCostPU']
empCost = pd.read_csv("Data/2023/I1_Hrm/Employees/empTargetDetail.csv", usecols=req_Column ,encoding='unicode_escape').fillna(0)
empCost = empCost.loc[empCost['empCode'] == empCode]
empCost = empCost.to_dict(orient="records")   ### Convert Data into Dictionary
empCostList = {item['itemCode']: item['salCostPU'] for item in empCost} # Extract desired values into a new dictionary

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 4 - Read Sales Quote Additional </p>

In [6]:
DataA = pd.read_sql('''SELECT * FROM "F1_Sales_qotAddi" ''', con=engine).fillna(0)
query = f'SELECT * FROM "F1_Sales_qotAddi" WHERE qotRef = {pk}'
qotAddi = pd.read_sql(query, con=engine)
qotAddi['itmCode'] = qotAddi['itmCode'].astype(int)

In [10]:
qotAddi['ItemCost'] = qotAddi['itmCode'].map(SPList).fillna(0)
qotAddi['EmpCost'] = qotAddi['itmCode'].map(empCostList).fillna(0)

In [11]:
qotAddi

,id,qotRef,sno,itmCode,desc,qty,price,disc,tot,ItemCost,EmpCost
0,4,20230003,1,10003000,Portable Diode Laser Hair Removal Equipment,4,"47,180","8,720","180,000",33700,0
1,5,20230003,2,10003001,Portable Diode Laser Hair Removal Equipment - ...,10,"6,300","3,000","60,000",4500,0
2,6,20230003,3,10004000,RF Fractional CO2 Laser,1,"81,900","1,900","80,000",58500,"9,831"
3,7,20230003,4,10004001,RF Fractional CO2 Laser - Handpiece,6,"7,700","3,100","43,100",5500,924
4,8,20230003,5,10004002,RF Fractional CO2 Laser - Accessories,20,"1,400","10,148","17,852",1000,0

In [9]:
qotAddiItems = qotAddi.to_dict(orient="records")

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #0790e0; background:#fcb321;"> 
<span style="font-size:.75em; color: #11a1f5;">  </span>  </p>
<<< Sales Order >>>

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #ffb701; background:#143157;"> 
Sales Quotation <span style="font-size:.75em; color: #11a1f5;"> - Get All OpenQuotation not converted into Sales Order </span>  </p>
Get Specific Columns of Sales Quotation  <<< def openSalQotURL >>>

In [15]:
import pandas as pd
import numpy as np
import sqlite3
import sqlalchemy
#------------------------------------------------------------------------
engine = sqlalchemy.create_engine('sqlite:///D:/IUH/2. Programming/2. App/1a BaseERP/db.sqlite3')

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 1 - Read CSV files </p>

In [16]:
###---- Get all Sales Quotation ----------------------------------------------------------------
query = '''SELECT "qotRef","qotDat", "cusCode", "cusName", "opnClo" FROM "F1_Sales_qotBasic"'''
dfSal = pd.read_sql(query, con=engine)

###---- Get all Sales Order "qotRef" -----------------------------------------------------------
queryB = '''SELECT "QotRef" FROM "F1_Sales_soBasic"'''
dfSO = pd.read_sql(queryB, con=engine)
soList = dfSO['qotRef'].tolist() #Convert "qotRef" column into list

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 2 - Filter out Sales Order </p>

In [17]:
Data = dfSal[dfSal['opnClo'] != 'Closed']
filterData = Data[~Data['qotRef'].isin(soList)]
filterData

     qotRef      qotDat   cusCode             cusName opnClo
0  20230002  2023-05-12  22310029  Al Jameya Pharmacy   Open
2  20230004  2023-04-11  22310097      Sahar Pharmacy   Open

In [ ]:

dfSal.head(1)

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #ffb701; background:#143157;"> 
Sales Order List <span style="font-size:.75em; color: #11a1f5;"> - Get Sales Order detail </span>  </p>
Get Specific Columns of Sales Order  <<< sOrderList >>>

In [3]:
import pandas as pd
import numpy as np
import sqlite3
import sqlalchemy
#------------------------------------------------------------------------
engine = sqlalchemy.create_engine('sqlite:///D:/IUH/2. Programming/2. App/1a BaseERP/db.sqlite3')

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 1 - Read CSV files </p>

In [4]:
###---- Qutation open/Close File to Get Last Quotation Number -------------
query = '''SELECT "soRef","soDat", "cusName", "soTax", "soTAT", "spName", "opnClo" FROM "F1_Sales_soBasic"'''
dfSal = pd.read_sql(query, con=engine)
dfSal

,soRef,soDat,cusName,soTax,soTAT,spName,opnClo
0,20230002,2023-05-13,Al Jameya Pharmacy,11450.0,240450.0,Sanjay Kumar Mandal,Closed
1,20230003,2023-05-13,Al Noor Pharmacy,19048.0,400000.0,Pune Pratap Panjiyar,Closed
2,20230004,2023-05-13,Sahar Pharmacy,11350.0,238350.0,Allen Joseph Anora,Closed

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #0790e0; background:#fcb321;"> 
<span style="font-size:.75em; color: #11a1f5;">  </span>  </p>
<<< Sales Delivery Note >>>

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #ffb701; background:#143157;"> 
Sales Order <span style="font-size:.75em; color: #11a1f5;"> - Get All Open Sales Order not converted into Delivery Note </span>  </p>
Get Specific Columns of Sales Order  <<< def openSalDlURL >>>

In [12]:
import pandas as pd
import numpy as np
import sqlite3
import sqlalchemy
#------------------------------------------------------------------------
engine = sqlalchemy.create_engine('sqlite:///D:/IUH/2. Programming/2. App/1a BaseERP/db.sqlite3')

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 1 - Read CSV files </p>

In [13]:
###---- Get all Sales Order ----------------------------------------------------------------
query = '''SELECT "soRef","soDat", "cusCode", "cusName", "opnClo" FROM "F1_Sales_soBasic"'''
dfSal = pd.read_sql(query, con=engine)

###---- Get all Delivery Notes "dfRef" -----------------------------------------------------------
queryB = '''SELECT "soRef" FROM "F1_Sales_dlBasic"'''
dfDl = pd.read_sql(queryB, con=engine)
soList = dfDl['soRef'].tolist() #Convert "qotRef" column into list

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 2 - Filter out Delivery Note </p>

In [16]:
Data = dfSal[dfSal['opnClo'] != 'Closed']
filterData = Data[~Data['soRef'].isin(soList)]
filterData

      soRef       soDat   cusCode           cusName opnClo
0  20230001  2023-05-14  22310097    Sahar Pharmacy   Open
1  20230002  2023-05-14  22310055  Al Noor Pharmacy   Open
2  20230003  2023-05-14  22310207   Delta Pharmacy    Open

In [17]:

dfSal.head(1)

      soRef       soDat   cusCode         cusName opnClo
0  20230001  2023-05-14  22310097  Sahar Pharmacy   Open