<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 1px solid orange;"></p>

<p style="font-size:2.2em; color:white; padding:15px; border-bottom: 5px solid #ffb701; background:#143157; text-align:center;"> 
    Sales Process Setup  <br> 
    <span style="font-size:.55em; color: #11a1f5;"> Create Necessary Folder and Files </span>
</p>

In [1]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns

In [2]:
import os
import csv

In [5]:
###---Get Year-------------------------------------
#Year = "2023"
dfStd = pd.read_csv('data/basInfo.csv')
Year = str(dfStd.loc[0, 'year'])
coFolder = str(dfStd.loc[0, 'coFolder'])

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 3px solid orange; margin:-7px 0px;"></p>

<p style="font-size:2.2em; padding:10px; border-bottom: 5px solid #ffb701; background:#143157;
          text-align:center"> 
    <span style="color: #fff;"> Create Main-Folders  </span> <br>
    <span style="font-size:.60em; color: #11a1f5;"> "H1_Items" </span>
</p>

In [6]:
mainFolder = "Data/" +coFolder+ "/" +Year+ "/H1_Items"
os.makedirs(mainFolder, mode=0o777, exist_ok=True)

<p style="padding:5px; border-bottom:3px solid orange; background:#3c5c75; margin:15px 0 -7px 0;"> 
   <span style="font-size:1.4em; color:#f7ca25;" >Step 1 - </span>
   <span style="font-size:1.4em; color:white;">Create Sub-Folder - </span> 
   <span style="font-size:1.2em; color:#17cffc;">"Items" </span>
</p>

In [7]:
subFolder = "Data/" +coFolder+ "/" +Year+ "/H1_Items/Items"
os.makedirs(subFolder, mode=0o777, exist_ok=True)

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 3px solid orange; margin:-7px 0px;"></p>

<p style="font-size:2.2em; padding:18px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    <span style="color: #fff;"> Items -  </span>
    <span style="font-size:.75em; color: #11a1f5;"> Sales Price </span>
</p>
<span style="font-size:.75em; color: #11a1f5;"> <<< f1_------------ >>></span>

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 3px solid orange; margin:-7px 0px;"></p>

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #ffb701; background:#143157;"> 
Refresh Item Master File - <span style="font-size:.75em; color: #11a1f5;"> Create Filders if not Exist </span></p>
Extract Customer Complete Information and Save as CSV file

In [29]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 1 - Create Engine and read data in Pandas </p>

<p style="font-family:Calibri; font-size:1.75em; color:#04405e; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #e39c19; background: #afe4ff;">  
Step 1a - Create SQL Engine</p>

In [30]:
import sqlite3
import sqlalchemy

# here db.sqlite3 is the name mention in settings.py under Databases; and 
# path should be absolute where 'db.sqlite3' file exist
#------------------------------------------------------------------------
engine = sqlalchemy.create_engine('sqlite:///D:/IUH/2. Programming/2. App/1a BaseERP/db.sqlite3')

<p style="font-family:Calibri; font-size:1.75em; color:#04405e; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #e39c19; background: #afe4ff;">  
Step 1b - Read Data from SQL </p>

In [31]:
basic = pd.read_sql('''SELECT * FROM "H1_Items_itmBasic" ''', con=engine)
Extra = pd.read_sql('''SELECT * FROM "H1_Items_itmExtra" ''', con=engine)

In [32]:
basic

      id itmCode itmName  opeQty  cloQty itmActive
0  10102   10102  asdbcd       2       0       Yes

In [34]:
Extra

,id,itmCode,itmLogo,uPrice,brand,supplier,barCode,uom,min,max,roQty,discount,taxable,input,output,bisUnit,itmType,expiry,ref
0,10102,10102,images/itmLogo/File_4L4z1te.jpg,230,asdfas,sadfas,fasdfa,sdfasdf,0,0,0,0,,0,0,,,0,

<p style="font-size:1.5em; color:white; padding:5px; border-bottom:3px solid orange; background:#3c5c75; margin:25px 0 -7px 0;"> 
Step 2 - Merge "Basic & Extra" Dataframe by Employee ID </p>
Note: if there is no entry in databse only in that case "itmCode" from first df will remove later on it will be ok.

In [14]:
Extra

Empty DataFrame
Columns: [id, itmCode, itmLogo, uPrice, brand, supplier, barCode, uom, min, max, roQty, discount, taxable, input, output, bisUnit, itmType, expiry, ref]
Index: []

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 1px solid orange;"></p>

In [35]:
Combined = pd.merge(basic, Extra, on="itmCode")
Combined = Combined.drop("id_y", axis=1)
Combined = Combined.rename(columns={'id_x': 'id'})

Combined['comment'] = ''

In [36]:
Combined

,id,itmCode,itmName,opeQty,cloQty,itmActive,itmLogo,uPrice,brand,supplier,barCode,uom,min,max,roQty,discount,taxable,input,output,bisUnit,itmType,expiry,ref,comment
0,10102,10102,asdbcd,2,0,Yes,images/itmLogo/File_4L4z1te.jpg,230,asdfas,sadfas,fasdfa,sdfasdf,0,0,0,0,,0,0,,,0,,

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #ffb701; background:#143157;"> 
Save as CSV (Customer Master Data) </p>
Extract Customer Complete Information and Save as CSV file

In [1]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns

In [8]:
tempDf = {'id':  10102, 
          'itmCode': 10102,
          'itmName': 'Item Name', 
          'opeQty': 10,
          'cloQty':2 , 
          'itmActive': 'Active',
          'itmLogo': '/Pic/001.jpeg',
          'uPrice': 50000,
          'brand': 'Brand Name',
          'supplier': 'Supplier Name0',
          'barCode': 'Bar Code',
          'uom': 'Pices',
          'min': 2,
          'max': 10,
          'roQty': 5,
          'discount': 40,
          'taxable': 'Yes',
          'input': 0,
          'output': 5,
          'bisUnit': 'Machine',
          'itmType': 'Pics',
          'expiry': '1Years',
          'ref': 'None',
          'comment': 'Add new',
        }

df = pd.DataFrame(tempDf, index=[0])

In [9]:
df

,id,itmCode,itmName,opeQty,cloQty,itmActive,itmLogo,uPrice,brand,supplier,barCode,uom,min,max,roQty,discount,taxable,input,output,bisUnit,itmType,expiry,ref,comment
0,10102,10102,Item Name,10,2,Active,/Pic/001.jpeg,50000,Brand Name,Supplier Name0,Bar Code,Pices,2,10,5,40,Yes,0,5,Machine,Pics,1Years,None,Add new

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 1px solid orange;"></p>

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    Item Standard Sales Price - <span style="font-size:.75em; color: #11a1f5;"> from excel file </span></p>
Read data from csv in Pandas

In [6]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 1 - Read CSV files </p>

In [7]:
###---- Read Employee master File ------------------------------------------
###---- encoding='unicode_escape' since data includes special charactor to avoid error.
df = pd.read_csv("Data/H1_Items/Item/ItemSalPrice.csv",encoding='unicode_escape').fillna(0)

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 2 - Remove Duplicate Entry </p>

In [8]:
# remove duplicate rows and keep only the last occurrence subequently if that customer Code added
# will show because keep last record will not have 'Delete' in comment column
DataA = df.drop_duplicates(subset=['itmCode'], keep='last')
DataB = DataA.drop(DataA.loc[DataA['comment']=='Delete'].index)

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 3 - Convert into Json </p>

In [9]:
### Convert Data into Json Dictionary (can be access by JavaScript) .........
Data = DataB.to_dict(orient="records")

In [10]:
Data

[{'id': 10001000,
  'itmCode': 10001000,
  'itmName': 'Microneedling RF',
  'uPrice': 22475,
  'selPrice': 31465,
  'brand': 'ADSS',
  'supplier': 'Adss Laser Co',
  'comment': 0.0},
 {'id': 10001001,
  'itmCode': 10001001,
  'itmName': 'Microneedling RF - HandPiece',
  'uPrice': 3375,
  'selPrice': 4725,
  'brand': 'ADSS',
  'supplier': 'Adss Laser Co',
  'comment': 0.0},
 {'id': 10002000,
  'itmCode': 10002000,
  'itmName': 'Diode Laser Hair Removal Device',
  'uPrice': 36700,
  'selPrice': 51380,
  'brand': 'ADSS',
  'supplier': 'Adss Laser Co',
  'comment': 0.0},
 {'id': 10003000,
  'itmCode': 10003000,
  'itmName': 'Portable Diode Laser Hair Removal Equipment',
  'uPrice': 33700,
  'selPrice': 47180,
  'brand': 'ADSS',
  'supplier': 'Adss Laser Co',
  'comment': 0.0},
 {'id': 10003001,
  'itmCode': 10003001,
  'itmName': 'Portable Diode Laser Hair Removal Equipment - Hand Piece',
  'uPrice': 4500,
  'selPrice': 6300,
  'brand': 'ADSS',
  'supplier': 'Adss Laser Co',
  'comment': 0.0},
 {'id': 10004000,
  'itmCode': 10004000,
  'itmName': 'RF Fractional CO2 Laser',
  'uPrice': 58500,
  'selPrice': 81900,
  'brand': 'Risen',
  'supplier': 'Skin for Life LLC',
  'comment': 0.0},
 {'id': 10004001,
  'itmCode': 10004001,
  'itmName': 'RF Fractional CO2 Laser - Handpiece',
  'uPrice': 5500,
  'selPrice': 7700,
  'brand': 'Risen',
  'supplier': 'Skin for Life LLC',
  'comment': 0.0},
 {'id': 10004002,
  'itmCode': 10004002,
  'itmName': 'RF Fractional CO2 Laser - Accessories',
  'uPrice': 1000,
  'selPrice': 1400,
  'brand': 'Risen',
  'supplier': 'Skin for Life LLC',
  'comment': 0.0},
 {'id': 10005000,
  'itmCode': 10005000,
  'itmName': 'Bruun Mci',
  'uPrice': 62000,
  'selPrice': 86800,
  'brand': 'Bruun MCI',
  'supplier': 'Bruun plc',
  'comment': 0.0},
 {'id': 10006000,
  'itmCode': 10006000,
  'itmName': 'Caviation Laser',
  'uPrice': 17500,
  'selPrice': 24500,
  'brand': 'Caviation',
  'supplier': 'Caviation Laser Co',
  'comment': 0.0},
 {'id': 10007000,
  'itmCode': 10007000,
  'itmName': 'Crio Lipo',
  'uPrice': 26000,
  'selPrice': 36400,
  'brand': 'Crio',
  'supplier': 'Crio and Co LLC',
  'comment': 0.0},
 {'id': 10008001,
  'itmCode': 10008001,
  'itmName': 'DeodLeaser Hand Piece',
  'uPrice': 1500,
  'selPrice': 2100,
  'brand': 'Deod',
  'supplier': 'Deod and Co LLC',
  'comment': 0.0},
 {'id': 10008000,
  'itmCode': 10008000,
  'itmName': 'DeodLeaser',
  'uPrice': 11000,
  'selPrice': 15400,
  'brand': 'Deod',
  'supplier': 'Deod and Co LLC',
  'comment': 0.0},
 {'id': 10009001,
  'itmCode': 10009001,
  'itmName': 'G5 Slimming Applicators',
  'uPrice': 2000,
  'selPrice': 2800,
  'brand': 'G5 ',
  'supplier': 'G5  and Co LLC',
  'comment': 0.0},
 {'id': 10009000,
  'itmCode': 10009000,
  'itmName': 'G5 Slimming',
  'uPrice': 37000,
  'selPrice': 51800,
  'brand': 'G5 ',
  'supplier': 'G5  and Co LLC',
  'comment': 0.0},
 {'id': 10010000,
  'itmCode': 10010000,
  'itmName': 'Hiemt A',
  'uPrice': 61000,
  'selPrice': 85400,
  'brand': 'Hiemt',
  'supplier': 'Hiemt and Co LLC',
  'comment': 0.0},
 {'id': 10011000,
  'itmCode': 10011000,
  'itmName': 'Hydra Fresh',
  'uPrice': 53000,
  'selPrice': 74200,
  'brand': 'Hydra',
  'supplier': 'Hydra and Co LLC',
  'comment': 0.0},
 {'id': 10012000,
  'itmCode': 10012000,
  'itmName': 'Hydra-new',
  'uPrice': 12000,
  'selPrice': 16800,
  'brand': 'Hydra',
  'supplier': 'Hydra and Co LLC',
  'comment': 0.0},
 {'id': 10013000,
  'itmCode': 10013000,
  'itmName': 'Jumia',
  'uPrice': 18000,
  'selPrice': 25200,
  'brand': 'Jumia',
  'supplier': 'Jumia and Co LLC',
  'comment': 0.0},
 {'id': 10014000,
  'itmCode': 10014000,
  'itmName': 'Konmision',
  'uPrice': 28000,
  'selPrice': 39200,
  'brand': 'Konmision',
  'supplier': 'Konmision and Co LLC',
  'comment': 0.0},
 {'id': 10015000,
  'itmCode': 10015000,
  'itmName': 'Mickcara',
  'uPrice': 31000,
  'selPrice': 43400,
  'brand': 'Mickcara',
  'supplier': 'Mickcara and Co LLC',
  'comment': 0.0},
 {'id': 10016000,
  'itmCode': 10016000,
  'itmName': 'My Ultrasonic',
  'uPrice': 7000,
  'selPrice': 9800,
  'brand': 'Ultrasonic',
  'supplier': 'Ultrasonic and Co LLC',
  'comment': 0.0},
 {'id': 10017000,
  'itmCode': 10017000,
  'itmName': 'SPA Slim',
  'uPrice': 6000,
  'selPrice': 8400,
  'brand': 'SPA',
  'supplier': 'SPA and Co LLC',
  'comment': 0.0},
 {'id': 10018001,
  'itmCode': 10018001,
  'itmName': 'SVTA Radio Hand Pice 1',
  'uPrice': 1200,
  'selPrice': 1680,
  'brand': 'SPA',
  'supplier': 'SPA and Co LLC',
  'comment': 0.0},
 {'id': 10018002,
  'itmCode': 10018002,
  'itmName': 'SVTA Radio Hand Pice 2',
  'uPrice': 1500,
  'selPrice': 2100,
  'brand': 'SPA',
  'supplier': 'SPA and Co LLC',
  'comment': 0.0},
 {'id': 10018003,
  'itmCode': 10018003,
  'itmName': 'SVTA Radio Hand Pice 3',
  'uPrice': 1400,
  'selPrice': 1960,
  'brand': 'SPA',
  'supplier': 'SPA and Co LLC',
  'comment': 0.0},
 {'id': 10018004,
  'itmCode': 10018004,
  'itmName': 'SVTA Radio Hand Pice 4',
  'uPrice': 1300,
  'selPrice': 1820,
  'brand': 'SPA',
  'supplier': 'SPA and Co LLC',
  'comment': 0.0},
 {'id': 10018005,
  'itmCode': 10018005,
  'itmName': 'SVTA Radio Hand Pice 5',
  'uPrice': 1600,
  'selPrice': 2240,
  'brand': 'SPA',
  'supplier': 'SPA and Co LLC',
  'comment': 0.0},
 {'id': 10018006,
  'itmCode': 10018006,
  'itmName': 'SVTA Radio Hand Pice 6',
  'uPrice': 1700,
  'selPrice': 2380,
  'brand': 'SPA',
  'supplier': 'SPA and Co LLC',
  'comment': 0.0},
 {'id': 10018007,
  'itmCode': 10018007,
  'itmName': 'SVTA Radio Hand Pice 7',
  'uPrice': 1800,
  'selPrice': 2520,
  'brand': 'SPA',
  'supplier': 'SPA and Co LLC',
  'comment': 0.0},
 {'id': 10018008,
  'itmCode': 10018008,
  'itmName': 'SVTA Radio Hand Pice 8',
  'uPrice': 1000,
  'selPrice': 1400,
  'brand': 'SPA',
  'supplier': 'SPA and Co LLC',
  'comment': 0.0},
 {'id': 10018000,
  'itmCode': 10018000,
  'itmName': 'SVTA Radio',
  'uPrice': 18000,
  'selPrice': 25200,
  'brand': 'SPA',
  'supplier': 'SPA and Co LLC',
  'comment': 0.0},
 {'id': 10019000,
  'itmCode': 10019000,
  'itmName': 'VCA Laser',
  'uPrice': 28000,
  'selPrice': 39200,
  'brand': 'VCA',
  'supplier': 'VCA and Co LLC',
  'comment': 0.0},
 {'id': 10019001,
  'itmCode': 10019001,
  'itmName': 'VCA Leaser Hand Piece',
  'uPrice': 31000,
  'selPrice': 4000,
  'brand': 'VCA',
  'supplier': 'VCA and Co LLC',
  'comment': 0.0}]

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 1px solid orange;"></p>

<p style="font-family:Calibri; font-size:1.75em; color:#04405e; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #e39c19; background: #afe4ff;">  
Step 1C - Find Last ID of Item Ledger </p>

In [21]:
MaxItem = '''SELECT MAX(id) FROM "H1_Items_itmLedger"'''
df3 = pd.read_sql(MaxItem, con=engine)
itmVal = df3.rename(columns={df3.columns[0]: 'new'})
itmVal.fillna(0, inplace=True) # if there is no record put 0
lastItmN = itmVal.loc[0, 'new']
lastItmN

145

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #ffb701; background:#143157;"> 
Item Ledger - <span style="font-size:.75em; color: #11a1f5;"> Create Item Ledger </span></p>
Extract Customer Complete Information and Save as CSV file

In [23]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns

import sqlite3
import sqlalchemy
engine = sqlalchemy.create_engine('sqlite:///D:/IUH/2. Programming/2. App/1a BaseERP/db.sqlite3')

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 1 - Read Data from SQL </p>

<p style="font-family:Calibri; font-size:1.75em; color:#04405e; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #e39c19; background: #afe4ff;">  
Step 1b - Read Data from SQL </p>

In [25]:
#pk = "10004002 "
#query = '''SELECT * FROM "H1_Items_itmLedger" WHERE "qotRef"='''+pk
#qotBasic = pd.read_sql(query, con=engine)
#ledger = pd.read_sql(queryBasic, con=engine)

In [26]:
#ledger = pd.read_sql('''SELECT * FROM "H1_Items_itmLedger" ''', con=engine)

In [27]:
pk = 10001001
queryBasic = f'SELECT * FROM "H1_Items_itmLedger" WHERE itmCode = "{pk}"'
#queryBasic = f'SELECT * FROM "H1_Items_itmLedger" WHERE itmCode = {pk}'
ledger = pd.read_sql(queryBasic, con=engine)

In [28]:
ledger

,id,itmCode,itmName,traDat,qtyPU,costPU,qtyTOT,costTOT,WAC,desc
0,148,10001001,Microneedling RF - HandPiece,2023-01-01,1,3375,40,13500,3375,Opening Balance
1,193,10001001,Microneedling RF - HandPiece,2023-05-16,1,2835,-10,0,0,Sales of Item toAl Jameya Pharmacy
2,198,10001001,Microneedling RF - HandPiece,2023-05-16,1,2835,-10,0,0,Sales of Item toAl Noor Pharmacy
3,203,10001001,Microneedling RF - HandPiece,2023-05-16,1,2835,-9,0,0,Sales of Item toSahar Pharmacy
4,208,10001001,Microneedling RF - HandPiece,2023-05-16,1,2835,-11,0,0,Sales of Item toAli Bin Ali Medical

In [29]:
ledger['traDat'] = pd.to_datetime(ledger['traDat'])
ledger = ledger.sort_values('traDat')  # Sort by date in ascending order
ledger['traDat'] = ledger['traDat'].astype(str)

In [30]:
ledger

,id,itmCode,itmName,traDat,qtyPU,costPU,qtyTOT,costTOT,WAC,desc
0,148,10001001,Microneedling RF - HandPiece,2023-01-01,1,3375,40,13500,3375,Opening Balance
1,193,10001001,Microneedling RF - HandPiece,2023-05-16,1,2835,-10,0,0,Sales of Item toAl Jameya Pharmacy
2,198,10001001,Microneedling RF - HandPiece,2023-05-16,1,2835,-10,0,0,Sales of Item toAl Noor Pharmacy
3,203,10001001,Microneedling RF - HandPiece,2023-05-16,1,2835,-9,0,0,Sales of Item toSahar Pharmacy
4,208,10001001,Microneedling RF - HandPiece,2023-05-16,1,2835,-11,0,0,Sales of Item toAli Bin Ali Medical

In [41]:
ledger['costTOT'] = ledger['costPU'] * ledger['qtyTOT']
ledger['cumQty'] = ledger['qtyTOT'].cumsum()
ledger['totValue'] = ledger['costTOT'].cumsum()
ledger['WAC'] = ledger['totValue'] / ledger['cumQty']
ledger['WAC'] = ledger['WAC'].replace(np.inf, 0)
ledger

,id,itmCode,itmName,traDat,qtyPU,costPU,qtyTOT,costTOT,WAC,desc,cumQty,totValue
0,148,10001001,Microneedling RF - HandPiece,2023-01-01,1,3375,40,135000,"3,375",Opening Balance,40,135000
1,193,10001001,Microneedling RF - HandPiece,2023-05-16,1,2835,-10,-28350,"3,555",Sales of Item toAl Jameya Pharmacy,30,106650
2,198,10001001,Microneedling RF - HandPiece,2023-05-16,1,2835,-10,-28350,"3,915",Sales of Item toAl Noor Pharmacy,20,78300
3,203,10001001,Microneedling RF - HandPiece,2023-05-16,1,2835,-9,-25515,"4,799",Sales of Item toSahar Pharmacy,11,52785
4,208,10001001,Microneedling RF - HandPiece,2023-05-16,1,2835,-11,-31185,0,Sales of Item toAli Bin Ali Medical,0,21600

In [43]:
Data = ledger.to_dict(orient="records")

In [44]:
Data

[{'id': 148,
  'itmCode': '10001001',
  'itmName': 'Microneedling RF - HandPiece',
  'traDat': '2023-01-01',
  'qtyPU': 1,
  'costPU': 3375,
  'qtyTOT': 40,
  'costTOT': 135000,
  'WAC': 3375.0,
  'desc': 'Opening Balance',
  'cumQty': 40,
  'totValue': 135000},
 {'id': 193,
  'itmCode': '10001001',
  'itmName': 'Microneedling RF - HandPiece',
  'traDat': '2023-05-16',
  'qtyPU': 1,
  'costPU': 2835,
  'qtyTOT': -10,
  'costTOT': -28350,
  'WAC': 3555.0,
  'desc': 'Sales of Item toAl Jameya Pharmacy',
  'cumQty': 30,
  'totValue': 106650},
 {'id': 198,
  'itmCode': '10001001',
  'itmName': 'Microneedling RF - HandPiece',
  'traDat': '2023-05-16',
  'qtyPU': 1,
  'costPU': 2835,
  'qtyTOT': -10,
  'costTOT': -28350,
  'WAC': 3915.0,
  'desc': 'Sales of Item toAl Noor Pharmacy',
  'cumQty': 20,
  'totValue': 78300},
 {'id': 203,
  'itmCode': '10001001',
  'itmName': 'Microneedling RF - HandPiece',
  'traDat': '2023-05-16',
  'qtyPU': 1,
  'costPU': 2835,
  'qtyTOT': -9,
  'costTOT': -25515,
  'WAC': 4798.636363636364,
  'desc': 'Sales of Item toSahar Pharmacy',
  'cumQty': 11,
  'totValue': 52785},
 {'id': 208,
  'itmCode': '10001001',
  'itmName': 'Microneedling RF - HandPiece',
  'traDat': '2023-05-16',
  'qtyPU': 1,
  'costPU': 2835,
  'qtyTOT': -11,
  'costTOT': -31185,
  'WAC': 0.0,
  'desc': 'Sales of Item toAli Bin Ali Medical',
  'cumQty': 0,
  'totValue': 21600}]

In [72]:
ledger['cumQtyPU'] = ledger['qtyTOT'].cumsum()
ledger['wacTemp'] = ledger['WAC'].sum()
ledger['TotalValue'] = ledger['cumQtyPU']*ledger['wacTemp']
ledger

,id,itmCode,itmName,traDat,qtyPU,costPU,qtyTOT,costTOT,WAC,desc,cumQtyPU,wacTemp,TotalValue
0,147,10001000,Microneedling RF,2023-01-01,1,22475,10,22475,22475,Opening Balance,10,22475,224750
2,192,10001000,Microneedling RF,2023-05-06,1,18879,-2,0,0,Sales of Item toAl Jameya Pharmacy,8,22475,179800
1,191,10001000,Microneedling RF,2023-05-09,1,25000,8,0,0,,16,22475,359600
3,197,10001000,Microneedling RF,2023-05-16,1,18879,-2,0,0,Sales of Item toAl Noor Pharmacy,14,22475,314650
4,202,10001000,Microneedling RF,2023-05-16,1,18879,-2,0,0,Sales of Item toSahar Pharmacy,12,22475,269700