<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 1px solid orange;"></p>

<p style="font-size:2.2em; color:white; padding:15px; border-bottom: 5px solid #ffb701; background:#143157; text-align:center;"> 
    Sales Process Setup  <br> 
    <span style="font-size:.55em; color: #11a1f5;"> Create Necessary Folder and Files </span>
</p>

In [1]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns

In [2]:
import os
import csv

In [5]:
###---Get Year-------------------------------------
#Year = "2023"
dfStd = pd.read_csv('data/basInfo.csv')
Year = str(dfStd.loc[0, 'year'])
coFolder = str(dfStd.loc[0, 'coFolder'])

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 3px solid orange; margin:-7px 0px;"></p>

<p style="font-size:2.2em; padding:10px; border-bottom: 5px solid #ffb701; background:#143157;
          text-align:center"> 
    <span style="color: #fff;"> Create Main-Folders  </span> <br>
    <span style="font-size:.60em; color: #11a1f5;"> "H1_Items" </span>
</p>

In [6]:
mainFolder = "Data/" +coFolder+ "/" +Year+ "/H1_Items"
os.makedirs(mainFolder, mode=0o777, exist_ok=True)

<p style="padding:5px; border-bottom:3px solid orange; background:#3c5c75; margin:15px 0 -7px 0;"> 
   <span style="font-size:1.4em; color:#f7ca25;" >Step 1 - </span>
   <span style="font-size:1.4em; color:white;">Create Sub-Folder - </span> 
   <span style="font-size:1.2em; color:#17cffc;">"Items" </span>
</p>

In [7]:
subFolder = "Data/" +coFolder+ "/" +Year+ "/H1_Items/Items"
os.makedirs(subFolder, mode=0o777, exist_ok=True)

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 3px solid orange; margin:-7px 0px;"></p>

<p style="font-size:2.2em; padding:18px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    <span style="color: #fff;"> Items -  </span>
    <span style="font-size:.75em; color: #11a1f5;"> Sales Price </span>
</p>
<span style="font-size:.75em; color: #11a1f5;"> <<< f1_------------ >>></span>

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 3px solid orange; margin:-7px 0px;"></p>

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #ffb701; background:#143157;"> 
Refresh Item Master File - <span style="font-size:.75em; color: #11a1f5;"> Create Filders if not Exist </span></p>
Extract Customer Complete Information and Save as CSV file

In [29]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 1 - Create Engine and read data in Pandas </p>

<p style="font-family:Calibri; font-size:1.75em; color:#04405e; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #e39c19; background: #afe4ff;">  
Step 1a - Create SQL Engine</p>

In [30]:
import sqlite3
import sqlalchemy

# here db.sqlite3 is the name mention in settings.py under Databases; and 
# path should be absolute where 'db.sqlite3' file exist
#------------------------------------------------------------------------
engine = sqlalchemy.create_engine('sqlite:///D:/IUH/2. Programming/2. App/1a BaseERP/db.sqlite3')

<p style="font-family:Calibri; font-size:1.75em; color:#04405e; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #e39c19; background: #afe4ff;">  
Step 1b - Read Data from SQL </p>

In [31]:
basic = pd.read_sql('''SELECT * FROM "H1_Items_itmBasic" ''', con=engine)
Extra = pd.read_sql('''SELECT * FROM "H1_Items_itmExtra" ''', con=engine)

In [32]:
basic

      id itmCode itmName  opeQty  cloQty itmActive
0  10102   10102  asdbcd       2       0       Yes

In [34]:
Extra

,id,itmCode,itmLogo,uPrice,brand,supplier,barCode,uom,min,max,roQty,discount,taxable,input,output,bisUnit,itmType,expiry,ref
0,10102,10102,images/itmLogo/File_4L4z1te.jpg,230,asdfas,sadfas,fasdfa,sdfasdf,0,0,0,0,,0,0,,,0,

<p style="font-size:1.5em; color:white; padding:5px; border-bottom:3px solid orange; background:#3c5c75; margin:25px 0 -7px 0;"> 
Step 2 - Merge "Basic & Extra" Dataframe by Employee ID </p>
Note: if there is no entry in databse only in that case "itmCode" from first df will remove later on it will be ok.

In [14]:
Extra

Empty DataFrame
Columns: [id, itmCode, itmLogo, uPrice, brand, supplier, barCode, uom, min, max, roQty, discount, taxable, input, output, bisUnit, itmType, expiry, ref]
Index: []

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 1px solid orange;"></p>

In [35]:
Combined = pd.merge(basic, Extra, on="itmCode")
Combined = Combined.drop("id_y", axis=1)
Combined = Combined.rename(columns={'id_x': 'id'})

Combined['comment'] = ''

In [36]:
Combined

,id,itmCode,itmName,opeQty,cloQty,itmActive,itmLogo,uPrice,brand,supplier,barCode,uom,min,max,roQty,discount,taxable,input,output,bisUnit,itmType,expiry,ref,comment
0,10102,10102,asdbcd,2,0,Yes,images/itmLogo/File_4L4z1te.jpg,230,asdfas,sadfas,fasdfa,sdfasdf,0,0,0,0,,0,0,,,0,,

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #ffb701; background:#143157;"> 
Save as CSV (Customer Master Data) </p>
Extract Customer Complete Information and Save as CSV file

In [1]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns

In [8]:
tempDf = {'id':  10102, 
          'itmCode': 10102,
          'itmName': 'Item Name', 
          'opeQty': 10,
          'cloQty':2 , 
          'itmActive': 'Active',
          'itmLogo': '/Pic/001.jpeg',
          'uPrice': 50000,
          'brand': 'Brand Name',
          'supplier': 'Supplier Name0',
          'barCode': 'Bar Code',
          'uom': 'Pices',
          'min': 2,
          'max': 10,
          'roQty': 5,
          'discount': 40,
          'taxable': 'Yes',
          'input': 0,
          'output': 5,
          'bisUnit': 'Machine',
          'itmType': 'Pics',
          'expiry': '1Years',
          'ref': 'None',
          'comment': 'Add new',
        }

df = pd.DataFrame(tempDf, index=[0])

In [9]:
df

,id,itmCode,itmName,opeQty,cloQty,itmActive,itmLogo,uPrice,brand,supplier,barCode,uom,min,max,roQty,discount,taxable,input,output,bisUnit,itmType,expiry,ref,comment
0,10102,10102,Item Name,10,2,Active,/Pic/001.jpeg,50000,Brand Name,Supplier Name0,Bar Code,Pices,2,10,5,40,Yes,0,5,Machine,Pics,1Years,None,Add new

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 1px solid orange;"></p>

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    Item Standard Sales Price - <span style="font-size:.75em; color: #11a1f5;"> from excel file </span></p>
Read data from csv in Pandas

In [6]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 1 - Read CSV files </p>

In [7]:
###---- Read Employee master File ------------------------------------------
###---- encoding='unicode_escape' since data includes special charactor to avoid error.
df = pd.read_csv("Data/H1_Items/Item/ItemSalPrice.csv",encoding='unicode_escape').fillna(0)

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 2 - Remove Duplicate Entry </p>

In [8]:
# remove duplicate rows and keep only the last occurrence subequently if that customer Code added
# will show because keep last record will not have 'Delete' in comment column
DataA = df.drop_duplicates(subset=['itmCode'], keep='last')
DataB = DataA.drop(DataA.loc[DataA['comment']=='Delete'].index)

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 3 - Convert into Json </p>

In [9]:
### Convert Data into Json Dictionary (can be access by JavaScript) .........
Data = DataB.to_dict(orient="records")

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 3px solid orange; margin:-7px 0px;"></p>

<p style="font-size:2.2em; padding:10px; border-bottom: 5px solid #ffb701; background:#492863;
          text-align:center"> 
    <span style="color: #debef7;"> Item Ledger and WAC Calculation  </span> <br>
</p>

<p style="font-size:2.2em; padding:18px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    <span style="color: #fff;">Test Ledger -  </span>
    <span style="font-size:.75em; color: #11a1f5;"> Create Item Ledger through CSV </span>
</p>

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 1 - </span>
   <span style="font-size:1.4em; color:#e39607;">Get Company and Year - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Load Data </span>
</p>

In [43]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.2f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns
dfStd = pd.read_csv('data/basInfo.csv')
Year = str(dfStd.loc[0, 'year'])
coFolder = str(dfStd.loc[0, 'coFolder'])

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 2 - </span>
   <span style="font-size:1.4em; color:#e39607;">Read dlBasic.csv - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Get the last Delivery Number </span>
</p>

In [44]:
fPath = "Data/" +coFolder+ "/" +Year+ "/H1_Items/Items/ItemMovement.csv"
df = pd.read_csv(fPath, index_col=False, encoding='unicode_escape').fillna(0)

In [45]:
pk = 10003001
df = df[df['itmCode'] == pk]
df['traDat'] = pd.to_datetime(df['traDat']).dt.strftime('%Y-%m-%d')
ledger = df
ledger = ledger.sort_values('traDat')  # Sort by date in ascending order

In [46]:
### Remove Duplicate Quote and Deleted Record...
ledger = ledger.drop_duplicates(subset=['id'], keep='last')
ledger = ledger.drop(ledger.loc[ledger['action']=='Deleted'].index)

In [47]:
ledger['totCost'] = ledger['costPU'] * ledger['qtyTOT']
ledger['cumQty'] = ledger['qtyTOT'].cumsum()

In [49]:
ledger

,id,itmCode,itmName,traDat,qtyPU,costPU,qtyTOT,desc,Remarks,traDate,action,totCost,cumQty
5,100,10003001,Portable Diode Laser Hair Removal Equipment - ...,2023-01-01,1,"4,500.00",10,Opening Balance,Balance,0,0,"45,000.00",10
96,2300020,10003001,Portable Diode Laser Hair Removal Equipment - ...,2023-02-24,0,0.00,-3,Sales of Product,Sales,2023-5-29 22-0-18,,-0.00,7
187,2300063,10003001,Portable Diode Laser Hair Removal Equipment - ...,2023-04-24,0,0.00,-2,Sales of Product,Sales,2023-5-29 22-13-56,,-0.00,5
346,2300135,10003001,Portable Diode Laser Hair Removal Equipment - ...,2023-06-27,0,0.00,-2,Sales of Product,Sales,2023-6-3 2-37-38,,-0.00,3
386,2300153,10003001,Portable Diode Laser Hair Removal Equipment - ...,2023-08-28,0,0.00,-1,Sales of Product,Sales,2023-6-3 2-47-58,,-0.00,2
484,2300198,10003001,Portable Diode Laser Hair Removal Equipment - ...,2023-10-22,0,0.00,-2,Sales of Product,Sales,2023-6-3 3-31-25,,-0.00,0
618,2300260,10003001,Portable Diode Laser Hair Removal Equipment - ...,2023-12-10,0,0.00,-3,Sales of Product,Sales,2023-6-3 4-0-4,,-0.00,-3

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 3 - </span>
   <span style="font-size:1.4em; color:#e39607;">to Calculate Horizontal   - </span> 
   <span style="font-size:1.2em; color:#209ebd;">through iterrows </span>
</p>

In [50]:
wac_list = []
for index, row in ledger.iterrows():
    if row['cumQty'] == 0:  #if cumQty become 0 will give error to avoid the error
        row['cumQty'] = 1
    
    if row['Remarks'] == 'Opening':
        wac = row['costPU']
    elif row['Remarks'] == 'Purchase':
        wac = ((wac_list[-1] * (row['cumQty']-row['qtyTOT'])) + (row['totCost']))/ (row['cumQty'])
    elif row['Remarks'] == 'Sales':
        wac = (((wac_list[-1] * (row['cumQty']-row['qtyTOT'])) + (row['totCost'])) + (row['qtyTOT'] * wac_list[-1])) / (row['cumQty'])
    else:
        wac = 0
    wac_list.append(wac)

ledger['WAC'] = wac_list

In [51]:
ledger['Balance'] = ledger['WAC']*ledger['cumQty']

In [52]:
ledger.loc[ledger['Remarks'] == 'Sales', 'totCost'] = ledger.loc[ledger['Remarks'] == 'Sales', 'qtyTOT'] * ledger.loc[ledger['Remarks'] == 'Sales', 'WAC']
ledger['costPU'] = ledger['totCost'] / ledger['qtyTOT']

In [53]:
ledgerA = ledger[['itmCode','traDat','desc','costPU','qtyTOT','totCost','cumQty','WAC','Balance']]

In [54]:
Data = ledger.to_dict(orient="records")

<p style="font-size:2.2em; padding:18px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    <span style="color: #fff;">Refresh -  </span>
    <span style="font-size:.75em; color: #11a1f5;"> Item Ledger CSV File </span>
</p>

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 1 - </span>
   <span style="font-size:1.4em; color:#e39607;">Get Company and Year - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Load Data </span>
</p>

In [37]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
#pd.set_option('display.float_format', '{:.0f}'.format)
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns
dfStd = pd.read_csv('data/basInfo.csv')
Year = str(dfStd.loc[0, 'year'])
coFolder = str(dfStd.loc[0, 'coFolder'])

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 2 - </span>
   <span style="font-size:1.4em; color:#e39607;">Read dlBasic.csv - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Get the last Delivery Number </span>
</p>

In [38]:
fPath = "Data/" +coFolder+ "/" +Year+ "/H1_Items/Items/ItemMovement.csv"
df = pd.read_csv(fPath, index_col=False, encoding='unicode_escape').fillna(0)

In [39]:
df['unique'] = df['id'].astype(str)+ '-' +df['itmCode'].astype(str)

In [40]:
### Remove Duplicate Quote and Deleted Record...
ledger = df.drop_duplicates(subset=['unique'], keep='last')
ledger = ledger.drop(ledger.loc[ledger['action']=='Deleted'].index)

In [41]:
ledger = ledger.drop('unique', axis=1)

In [36]:
### Save the data in qotBasic.csv File...
fPath = "Data/" +coFolder+ "/" +Year+ "/H1_Items/Items/ItemMovement.csv"
ledger.to_csv(fPath, index=False)

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 3px solid orange; margin:-7px 0px;"></p>

<p style="font-size:2.2em; padding:10px; border-bottom: 5px solid #ffb701; background:#492863;
          text-align:center"> 
    <span style="color: #debef7;"> Test Calculation  </span> <br>
</p>

<p style="font-size:2.2em; padding:18px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    <span style="color: #fff;">Item Ledger -  </span>
    <span style="font-size:.75em; color: #11a1f5;"> Create Item Ledger through CSV </span>
</p>

In [9]:
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns

In [10]:
ledger_data = {
    'itmCode': [1900, 1900, 1900, 1900, 1900, 1900, 1900, 1900, 1900, 1900],
    'traDat': ['1/1/2023', '1/10/2023', '1/12/2023', '1/15/2023', '1/17/2023', '1/19/2023', '1/22/2023', '1/24/2023', '1/26/2023', '1/28/2023'],
    'costPU': [1650, 1800, 0, 1700, 0, 1750, 0, 0, 1800, 0],
    'qtyTOT': [13, 15, -9, 11, -12, 14, -8, -12, 10, -15],
    'Remarks': ['Opening', 'Purchase', 'Sales', 'Purchase', 'Sales', 'Purchase','Sales','Sales', 'Purchase' ,'Sales',]
    }

ledger = pd.DataFrame(ledger_data)
ledger['traDat'] = pd.to_datetime(ledger['traDat'])
ledger = ledger.sort_values('traDat')

In [11]:
ledger['totCost'] = ledger['costPU'] * ledger['qtyTOT']
ledger['cumQty'] = ledger['qtyTOT'].cumsum()

In [12]:
wac_list = []
for index, row in ledger.iterrows():
    if row['Remarks'] == 'Opening':
        wac = row['costPU']
    elif row['Remarks'] == 'Purchase':
        wac = ((wac_list[-1] * (row['cumQty']-row['qtyTOT'])) + (row['totCost']))/ (row['cumQty'])
    elif row['Remarks'] == 'Sales':
        wac = (((wac_list[-1] * (row['cumQty']-row['qtyTOT'])) + (row['totCost'])) + (row['qtyTOT'] * wac_list[-1])) / (row['cumQty'])
    else:
        wac = 0
    wac_list.append(wac)

ledger['WAC'] = wac_list

In [25]:
ledger['Balance'] = ledger['WAC']*ledger['cumQty']

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 3px solid orange; margin:-7px 0px;"></p>

<p style="font-size:2.2em; padding:18px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    <span style="color: #fff;">Test Ledger -  </span>
    <span style="font-size:.75em; color: #11a1f5;"> Create Item Ledger through CSV </span>
</p>

In [26]:
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns

In [27]:
ledger_data = {
    'itmCode': [1900, 1900, 1900, 1900, 1900, 1900, 1900, 1900, 1900, 1900],
    'traDat': ['1/1/2023', '1/10/2023', '1/12/2023', '1/15/2023', '1/17/2023', '1/19/2023', '1/22/2023', '1/24/2023', '1/26/2023', '1/28/2023'],
    'costPU': [1650, 1800, 0, 1700, 0, 1750, 0, 0, 1800, 0],
    'qtyTOT': [13, 15, -9, 11, -12, 14, -8, -12, 10, -15],
    'Remarks': ['Opening', 'Purchase', 'Sales', 'Purchase', 'Sales', 'Purchase','Sales','Sales', 'Purchase' ,'Sales',]
    }

ledger = pd.DataFrame(ledger_data)
ledger['traDat'] = pd.to_datetime(ledger['traDat'])
ledger = ledger.sort_values('traDat')

In [28]:
ledger['totCost'] = ledger['costPU'] * ledger['qtyTOT']
ledger['cumCost'] = ledger['totCost'].cumsum()
ledger['cumQty'] = ledger['qtyTOT'].cumsum()

In [29]:
wac_list = []
for index, row in ledger.iterrows():
    if row['Remarks'] == 'Opening':
        wac = row['costPU']
    elif row['Remarks'] == 'Purchase':
        #wac = (row['cumQty'] * wac_list[-1] + row['qtyTOT'] * row['costPU']) / (row['cumQty'])
        wac = ((wac_list[-1] * (row['cumQty']-row['qtyTOT'])) + (row['totCost']))/ (row['cumQty'])
    elif row['Remarks'] == 'Sales':
        wac = (((wac_list[-1] * (row['cumQty']-row['qtyTOT'])) + (row['totCost'])) + (row['qtyTOT'] * wac_list[-1])) / (row['cumQty'])
        #wac = (row['qtyTOT'] * wac_list[-1])
    else:
        wac = 0
    wac_list.append(wac)

ledger['WAC'] = wac_list

In [30]:
ledger['Balance'] = ledger['WAC']*ledger['cumQty']