<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 1px solid orange; background:#f5eab8"></p>

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    Refresh Employee Master File - <span style="font-size:.75em; color: #11a1f5;"> Get Data from Database and store in CSV </span></p>
<<< aEmpRefresh >>>

In [1]:
import pandas as pd
import numpy as np
import os
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns

<p style="padding:5px; border-bottom:3px solid orange; background:#3c5c75; margin:25px 0 -7px 0;"> 
   <span style="font-size:1.5em; color:#f7ca25;" >Step 1 - </span>
   <span style="font-size:1.5em; color:white;">Create Engine and read data in Pandas </span> 
</p>

<p style="font-family:Calibri; font-size:1.2em; color:#061233; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #0d1e4f; background: #e3e9fa">  
Step 1a - Create SQL Engine </p>

In [2]:
import sqlite3
import sqlalchemy

# here db.sqlite3 is the name mention in settings.py under Databases; and 
# path should be absolute where 'db.sqlite3' file exist
#------------------------------------------------------------------------
engine = sqlalchemy.create_engine('sqlite:///D:/IUH/2. Programming/2. App/1a BaseERP/db.sqlite3')

<p style="font-family:Calibri; font-size:1.2em; color:#061233; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #0d1e4f; background: #e3e9fa">  
Step 1b - Read Data from SQL </p>

In [3]:
basic = pd.read_sql('''SELECT * FROM "I1_Hrm_empBasic" ''', con=engine)
Extra = pd.read_sql('''SELECT * FROM "I1_Hrm_empExtra" ''', con=engine)

<p style="padding:5px; border-bottom:3px solid orange; background:#3c5c75; margin:25px 0 -7px 0;"> 
   <span style="font-size:1.5em; color:#f7ca25;" >Step 2 - </span>
   <span style="font-size:1.5em; color:white;">Merge "Basic & Extra" Dataframe by Supplier ID </span> 
</p>

In [4]:
Combined = pd.merge(basic, Extra, on=["empCode"])
Combined = Combined.drop("id_y", axis=1)
Combined = Combined.rename(columns={'id_x': 'id'})

<p style="font-family:Calibri; font-size:1.2em; color:#061233; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #0d1e4f; background: #e3e9fa">  
Step 2a - Reset Index to Save data in CSV </p>

In [5]:
arrColumn= ['id','empCode','empFName','empMName','empLName','empStat','empImg','empPosi',
            'empDoj','empEid','empLoca','empDept','empRepTo','empSpon','empNatl','empGend',
            'empDob','EmpMarr','empIban','empBank','empAcc','empUid','empVisa','empAdd','empPh','empEmail','ref'
          ]
Combined = Combined.reindex(columns=arrColumn)

Combined['comment'] = ''

<p style="padding:5px; border-bottom:3px solid orange; background:#3c5c75; margin:25px 0 -7px 0;"> 
   <span style="font-size:1.5em; color:#f7ca25;" >Step 3 - </span>
   <span style="font-size:1.5em; color:white;">Create a "Employees" Folder inside "Data/I1_Hrm" Folder" </span> 
</p>

In [6]:
data_folder = "Data/I1_Hrm"
sales_folder = "Employees"

if not os.path.exists(os.path.join(data_folder, sales_folder)):
    os.makedirs(os.path.join(data_folder, sales_folder))
else:
    pass

<p style="padding:5px; border-bottom:3px solid orange; background:#3c5c75; margin:25px 0 0px 0;"> 
   <span style="font-size:1.5em; color:#f7ca25;" >Step 4 - </span>
   <span style="font-size:1.5em; color:white;">Save Employee Master File as CSV File </span> 
</p>
https://sparkbyexamples.com/pandas/pandas-write-dataframe-to-csv-file/

In [7]:
Combined.to_csv('Data/I1_Hrm/Employees/EmpMaster.csv',index = False)

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 1px solid orange; background:#f5eab8"></p>

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    Show Employees List - <span style="font-size:.75em; color: #11a1f5;"> Get Data from CSV and show in a list </span></p>
<<< showEmp >>>

In [8]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns

<p style="padding:5px; border-bottom:3px solid orange; background:#3c5c75; margin:25px 0 -7px 0;"> 
   <span style="font-size:1.5em; color:#f7ca25;" >Step 1 - </span>
   <span style="font-size:1.5em; color:white;">Read CSV files - </span> 
   <span style="font-size:1.2em; color:#17cffc;">Through Pandas and get the list of a column </span>
</p>

In [9]:
df = pd.read_csv("Data/I1_Hrm/Employees/EmpMaster.csv",encoding='unicode_escape').fillna('')

<p style="padding:5px; border-bottom:3px solid orange; background:#3c5c75; margin:25px 0 -7px 0;"> 
   <span style="font-size:1.5em; color:#f7ca25;" >Step 2 - </span>
   <span style="font-size:1.5em; color:white;">Remove duplicate rows and keep only the last occurrence </span> 
</p>

In [10]:
DataA = df.drop_duplicates(subset=['empCode'], keep='last')
DataB = DataA.drop(DataA.loc[DataA['comment']=='Delete'].index)

<p style="padding:5px; border-bottom:3px solid orange; background:#3c5c75; margin:25px 0 -7px 0;"> 
   <span style="font-size:1.5em; color:#f7ca25;" >Step 3 - </span>
   <span style="font-size:1.5em; color:white;">Convert Data into Json Dictionary </span> 
</p>

In [11]:
Data = DataB.to_dict(orient="records")

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 1px solid orange; background:#f5eab8"></p>

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    HRM Setup - <span style="font-size:.75em; color: #11a1f5;"> Create Necessary Folder and Files </span></p>
<<< a1_hrmSetupURL >>>

In [53]:
import pandas as pd
import os
import csv

<p style="padding:5px; border-bottom:3px solid orange; background:#3c5c75; margin:25px 0 -7px 0;"> 
   <span style="font-size:1.5em; color:#f7ca25;" >Step 1 -</span>
   <span style="font-size:1.5em; color:white;">Create Main-Folders  - </span> 
   <span style="font-size:1.2em; color:#17cffc;">"I1_Hrm"</span>
</p>

In [1]:
import pandas as pd
import numpy as np

In [54]:
#Year = "2023"
dfStd = pd.read_csv('data/basInfo.csv')
Year = str(dfStd.loc[0, 'year']) 

mainFolder = "Data/" + Year + "/I1_Hrm"
os.makedirs(mainFolder, mode=0o777, exist_ok=True)

<p style="padding:5px; border-bottom:3px solid orange; background:#3c5c75; margin:25px 0 -7px 0;"> 
   <span style="font-size:1.5em; color:#f7ca25;" >Step 2 -</span>
   <span style="font-size:1.5em; color:white;">Create Sub-Folder  - </span> 
   <span style="font-size:1.2em; color:#17cffc;">"Employee"</span>
</p>

In [29]:
subFolder = "Employees"

# Create the subfolder within the main folder
subFolder_path = os.path.join(mainFolder, subFolder)
os.makedirs(subFolder_path, mode=0o777, exist_ok=True)

<p style="padding:5px; border-bottom:3px solid orange; background:#3c5c75; margin:25px 0 -7px 0;"> 
   <span style="font-size:1.5em; color:#f7ca25;" >Step 3.1 -</span>
   <span style="font-size:1.5em; color:white;">Create CSV file -</span> 
   <span style="font-size:1.2em; color:#17cffc;">"empTarget.csv" </span>
</p>

In [30]:
fileName = 'empTarget.csv'
file_path = os.path.join(mainFolder, subFolder, fileName)

if not os.path.exists(file_path):
    headers = ['id','empCode','empName','empImg','empPosi','anSalary',
                   'anTarget','empStat','targetSet','traDate','comment']

    with open(file_path, 'w', newline='') as csv_file:  #create fresh file each time
        writer = csv.writer(csv_file); 
        writer.writerow(headers)

<p style="padding:5px; border-bottom:3px solid orange; background:#3c5c75; margin:25px 0 -7px 0;"> 
   <span style="font-size:1.5em; color:#f7ca25;" >Step 3.2 -</span>
   <span style="font-size:1.5em; color:white;">Create CSV file -</span> 
   <span style="font-size:1.2em; color:#17cffc;">"empTargetDetail.csv" </span>
</p>

In [32]:
fileName = 'empTargetDetail.csv'
file_path = os.path.join(mainFolder, subFolder, fileName)

if not os.path.exists(file_path):
    headers = ['iD','empCode','empName','anSalary','anTarget',
               'sNo','itemCode','itemDesc','titemSelPrice','qty','salesTarget',
              'totalSalCost','salCostPU','traDate','comment'] #abc is to avoid error
    
    with open(file_path, 'w', newline='') as csv_file:
        writer = csv.writer(csv_file); 
        writer.writerow(headers)

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 1px solid orange; background:#f5eab8"></p>

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    tEmpTarget  - <span style="font-size:.75em; color: #11a1f5;"> Read CSV & get the list  </span></p>
Read data from csv in Pandas

In [1]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns

<p style="padding:5px; border-bottom:3px solid orange; background:#3c5c75; margin:25px 0 -7px 0;"> 
   <span style="font-size:1.5em; color:#f7ca25;" >Step 1 - </span>
   <span style="font-size:1.5em; color:white;">Read CSV files - </span> 
   <span style="font-size:1.2em; color:#17cffc;">Through Pandas and get the list of a column </span>
</p>

In [2]:
try: #incase there is no folder and files to avoid error
    filename = "Data/2023/I1_Hrm/Employees/empTarget.csv"
    df = pd.read_csv(filename, index_col=False).fillna(0)
except:
    data = {'empCode': ['John', 'Alice', 'Doe'],
            'comment': ['A','B','C']}
    df = pd.DataFrame(data)

<p style="font-family:Calibri; font-size:1.4em; color:#04405e; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #e39c19; background: #afe4ff;">  
Step 1a - Remove Duplicate Line and Deleted Record</p>

In [3]:
# remove duplicate rows and keep only the last occurrence subequently if that customer Code added
# will show because keep last record will not have 'Delete' in comment column
DataA = df.drop_duplicates(subset=['empCode'], keep='last')
DataB = DataA.drop(DataA.loc[DataA['comment']=='Delete'].index)

<p style="font-family:Calibri; font-size:1.4em; color:#04405e; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #e39c19; background: #afe4ff;">  
Step 1b - Select a Column and Convert into List</p>

In [4]:
List = DataB["empCode"].tolist()
List

[329]

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    tEmpTargetEdit  - <span style="font-size:.75em; color: #11a1f5;"> Read CSV & get the list  </span></p>
Read data from csv in Pandas

In [5]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns

<p style="padding:5px; border-bottom:3px solid orange; background:#3c5c75; margin:25px 0 -7px 0;"> 
   <span style="font-size:1.5em; color:#f7ca25;" >Step 1 - </span>
   <span style="font-size:1.5em; color:white;">Read CSV files - </span> 
   <span style="font-size:1.2em; color:#17cffc;">Through Pandas and get the list of a column </span>
</p>

In [6]:
Year = '2023'
try: #incase there is no folder and files to avoid error
    req_cols = ['empCode','anSalary', 'anTarget','empStat','targetSet','comment']
    dfSel = pd.read_csv("Data/"+Year+"/I1_Hrm/Employees/empTarget.csv", usecols=req_cols, index_col=False).fillna(0)
    reqB = ['empCode','empFName', 'empMName','empLName','empImg','empPosi','comment']
    dfDetail = pd.read_csv("Data/I1_Hrm/Employees/EmpMaster.csv", usecols=reqB, index_col=False)
except:
    data = {'empCode': ['John', 'Alice', 'Doe'], 'comment': ['A','B','C']}
    df = pd.DataFrame(data)

<p style="font-family:Calibri; font-size:1.2em; color:#061233; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #0d1e4f; background: #e3e9fa">  
Step 1a- Remove Duplicate Line and Deleted Record </p>

In [7]:
dfSel = dfSel.drop_duplicates(subset=['empCode'], keep='last')
dfSel = dfSel.drop(dfSel.loc[dfSel['comment']=='Delete'].index)

In [8]:
dfDetail = dfDetail.drop_duplicates(subset=['empCode'], keep='last')
dfDetail= dfDetail.drop(dfDetail.loc[dfDetail['comment']=='Delete'].index)

<p style="font-family:Calibri; font-size:1.2em; color:#061233; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #0d1e4f; background: #e3e9fa">  
Step 1b- Updated with Master File </p>

In [9]:
dfDetail = dfDetail.fillna('')
dfDetail['empName'] = dfDetail['empFName']+" "+dfDetail['empMName']+" "+dfDetail['empLName']
DataB= pd.merge(dfSel, dfDetail, on ='empCode', how ='inner')

<p style="font-family:Calibri; font-size:1.2em; color:#061233; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #0d1e4f; background: #e3e9fa">  
Step 1c- Get Selected Columns </p>

In [10]:
iniData = DataB[['empCode','empName','empPosi','anTarget', 'empImg', 'anSalary']]

<p style="padding:5px; border-bottom:3px solid orange; background:#3c5c75; margin:25px 0 -7px 0;"> 
   <span style="font-size:1.5em; color:#f7ca25;" >Step 1 - </span>
   <span style="font-size:1.5em; color:white;">Convertion the Data - </span> 
   <span style="font-size:1.2em; color:#17cffc;">into Dictionary </span>
</p>

In [11]:
Data=[]
for i in range(iniData.shape[0]):
        temp=iniData.iloc[i]
        Data.append(dict(temp))

<p style="font-size:2.2em; color:white; padding:10px; border-bottom: 5px solid #ffb701; background:#583073;"> 
    Fatch Data  - <span style="font-size:.75em; color: #11a1f5;"> Detail Target </span></p>
Read data from csv in Pandas

<p style="padding:5px; border-bottom:3px solid orange; background:#3c5c75; margin:25px 0 -7px 0;"> 
   <span style="font-size:1.5em; color:#f7ca25;" >Step 1 - </span>
   <span style="font-size:1.5em; color:white;">Read empTarget - </span> 
   <span style="font-size:1.2em; color:#17cffc;">Through Pandas and get the list of a column </span>
</p>

In [12]:
df = pd.read_csv("Data/2023/I1_Hrm/Employees/empTarget.csv", index_col=False ,encoding='unicode_escape').fillna(0)

<p style="font-family:Calibri; font-size:1.2em; color:#061233; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #0d1e4f; background: #e3e9fa">  
Step 1a - Remove Duplicate Line and Deleted Record</p>

In [13]:
DataA = df.drop_duplicates(subset=['empCode'], keep='last')
DataB = DataA.drop(DataA.loc[DataA['comment']=='Delete'].index)

<p style="font-family:Calibri; font-size:1.2em; color:#061233; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #0d1e4f; background: #e3e9fa">  
Step 1b - Combine Employee Code and Transaction Time</p>

In [15]:
DataB['combined'] = DataB['empCode'].astype(str)+" "+DataB['traDate']

<p style="font-family:Calibri; font-size:1.2em; color:#061233; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #0d1e4f; background: #e3e9fa">  
Step 1c- Select the Combine Column and convert it into a "LIST"</p>

In [16]:
List = DataB["combined"] #.tolist()

<p style="padding:5px; border-bottom:3px solid orange; background:#3c5c75; margin:25px 0 -7px 0;"> 
   <span style="font-size:1.5em; color:#f7ca25;" >Step 2 - </span>
   <span style="font-size:1.5em; color:white;">Read empTargetDetail CSV files - </span> 
   <span style="font-size:1.2em; color:#17cffc;">Through Pandas and get the list of a column </span>
</p>

In [17]:
Year = '2023'
df2 = pd.read_csv("Data/"+Year+"/I1_Hrm/Employees/empTargetDetail.csv", index_col=False).fillna(0)
### Combine Employee Code and Transaction Time.................
df2['combined'] = df2['empCode'].astype(str)+" "+df2['traDate']

<p style="font-family:Calibri; font-size:1.2em; color:#061233; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #0d1e4f; background: #e3e9fa">  
Step 2a- Filtere the 'Employee Target Detail' by Employee "Target List"</p>

In [18]:
filtered_df = df2[df2['combined'].isin(List)]

In [19]:
### Convert 'salesTarget' astype to "FLOAT" to avoid error if any numaric value contain float type.
filtered_df = filtered_df.astype({'salesTarget':'float'})

In [20]:
iID = int("329")
seleData = filtered_df[filtered_df['empCode'] == iID]

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 1px solid orange;"></p>

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #ffb701; background:#143157;"> 
Employee Salary - <span style="font-size:.75em; color: #11a1f5;"> read from DataBase </span></p>
<<< empSalary >>> Extract record from empBase and empExtra Database and select specific column to show deatil

In [60]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns

<p style="padding:5px; border-bottom:3px solid orange; background:#3c5c75; margin:25px 0 -7px 0;"> 
   <span style="font-size:1.5em; color:#f7ca25;" >Step 1 - </span>
   <span style="font-size:1.5em; color:white;">Create Engine and read data in Pandas </span> 
</p>

<p style="font-family:Calibri; font-size:1.4em; color:#04405e; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #e39c19; background: #afe4ff;">  
Step 1a - Create SQL Engine </p>

In [61]:
import sqlite3
import sqlalchemy

# here db.sqlite3 is the name mention in settings.py under Databases; and 
# path should be absolute where 'db.sqlite3' file exist
#------------------------------------------------------------------------
engine = sqlalchemy.create_engine('sqlite:///D:/IUH/2. Programming/2. App/1a BaseERP/db.sqlite3')

<p style="font-family:Calibri; font-size:1.4em; color:#04405e; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #e39c19; background: #afe4ff;">  
Step 1b - Read Data from SQL </p>

In [62]:
basic = pd.read_sql('''SELECT * FROM "I1_Hrm_empBasic" ''', con=engine)
Extra = pd.read_sql('''SELECT * FROM "I1_Hrm_empExtra" ''', con=engine)

<p style="padding:5px; border-bottom:3px solid orange; background:#3c5c75; margin:25px 0 -7px 0;"> 
   <span style="font-size:1.5em; color:#f7ca25;" >Step 2 - </span>
   <span style="font-size:1.5em; color:white;">Merge "Basic & Extra" Dataframe by Employee ID </span> 
</p>

In [63]:
Combined = pd.merge(basic, Extra, on=["empCode"])
Combined = Combined.drop("id_y", axis=1)
Combined = Combined.rename(columns={'id_x': 'id'})

In [64]:
###-- Filter will give error if there is NaN in any column to avoid this use fillna
Combined = Combined.fillna('')

In [65]:
Combined['empName'] = Combined['empFName']+" "+Combined['empMName']+" "+Combined['empLName']

<p style="padding:5px; border-bottom:3px solid orange; background:#3c5c75; margin:25px 0 -7px 0;"> 
   <span style="font-size:1.5em; color:#f7ca25;" >Step 3 - </span>
   <span style="font-size:1.5em; color:white;">Select Specific Columns </span> 
</p>

In [68]:
DataB = Combined.loc[:, ['empCode', 'empName', 'empImg', 'empPosi', 'empStat']].fillna(0)

<p style="padding:5px; border-bottom:3px solid orange; background:#3c5c75; margin:25px 0 -7px 0;"> 
   <span style="font-size:1.5em; color:#f7ca25;" >Step 4 - </span>
   <span style="font-size:1.5em; color:white;">Convert Data into Json Dictionary </span> 
</p>

In [69]:
Data = DataB.to_dict(orient="records")

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    tEmpTargetEdit  - <span style="font-size:.75em; color: #11a1f5;"> Read CSV & get the list  </span></p>
Read data from csv in Pandas

In [9]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns

<p style="padding:5px; border-bottom:3px solid orange; background:#3c5c75; margin:25px 0 -7px 0;"> 
   <span style="font-size:1.5em; color:#f7ca25;" >Step 1 - </span>
   <span style="font-size:1.5em; color:white;">Read CSV files - </span> 
   <span style="font-size:1.2em; color:#17cffc;">Through Pandas and get the list of a column </span>
</p>

In [10]:
spCode = '415'
reqB = ['empCode','empFName', 'empMName','empLName','comment']
dfSel = pd.read_csv("Data/I1_Hrm/Employees/EmpMaster.csv", usecols=reqB, index_col=False)

<p style="font-family:Calibri; font-size:1.2em; color:#061233; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #0d1e4f; background: #e3e9fa">  
Step 1a- Remove Duplicate Line and Deleted Record </p>

In [11]:
dfSel = dfSel.drop_duplicates(subset=['empCode'], keep='last')
dfSel = dfSel.drop(dfSel.loc[dfSel['comment']=='Delete'].index)

In [12]:
dfDetail = dfSel.fillna('')

<p style="font-family:Calibri; font-size:1.2em; color:#061233; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #0d1e4f; background: #e3e9fa">  
Step 1b- Updated with Master File </p>

In [13]:
dfDetail['empName'] = dfDetail['empFName']+" "+dfDetail['empMName']+" "+dfDetail['empLName']
dfDetail

,empCode,empFName,empMName,empLName,comment,empName
0,329,Sanjay,Kumar,Mandal,,Sanjay Kumar Mandal
1,345,Pune,Pratap,Panjiyar,,Pune Pratap Panjiyar
2,365,Allen,Joseph,Anora,,Allen Joseph Anora
3,366,Franco,Viola,Parota,,Franco Viola Parota
4,370,Ariel,Abapo,Naciogoyo,,Ariel Abapo Naciogoyo
...,...,...,...,...,...,...
60,2085,Sushith,Earully,Sureshkumar,,Sushith Earully Sureshkumar
61,2213,Abdul,Raheem,Khan,,Abdul Raheem Khan
62,2268,Muhammad,Nasir,Iqbal,,Muhammad Nasir Iqbal
63,2310,Muhammad,,Khan,,Muhammad Khan
64,2353,Shahid,Ali,Butt,,Shahid Ali Butt

In [25]:
spCode = ""  #329
if (spCode !=""):
    result = dfDetail.loc[dfDetail['empCode'] == spCode, 'empName'].tolist()
else:
    result = ["Sales Person"].tolist()

AttributeError: 'list' object has no attribute 'tolist'

In [24]:
result

[]