<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 1px solid orange;"></p>

<p style="font-size:2.2em; color:white; padding:15px; border-bottom: 5px solid #ffb701; background:#143157; text-align:center;"> 
    Journal Ledger  <br> 
    <span style="font-size:.55em; color: #11a1f5;"> Journal Ledger </span>
</p>

In [1]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns

In [2]:
import os
import csv

In [3]:
###---Get Year-------------------------------------
#Year = "2023"
dfStd = pd.read_csv('data/basInfo.csv')
Year = str(dfStd.loc[0, 'year'])
coFolder = str(dfStd.loc[0, 'coFolder'])

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 3px solid orange; margin:-7px 0px;"></p>

<p style="font-size:2.2em; padding:10px; border-bottom: 5px solid #ffb701; background:#143157;
          text-align:center"> 
    <span style="color: #fff;"> Create Main-Folders  </span> <br>
    <span style="font-size:.60em; color: #11a1f5;"> "C1_Gl" </span>
</p>

In [23]:
mainFolder = "Data/" +coFolder+ "/" +Year+ "/C1_Gl"
os.makedirs(mainFolder, mode=0o777, exist_ok=True)

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 3px solid orange; margin:-7px 0px;"></p>

<p style="font-size:2.2em; padding:10px; border-bottom: 5px solid #ffb701; background:#492863;
          text-align:center"> 
    <span style="color: #debef7;"> Journals  </span> <br>
</p>

<p style="font-size:2em; padding:18px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    <span style="color: #fff;"> Create Sub-Folder -  </span>
    <span style="font-size:.75em; color: #11a1f5;"> "Journals" </span>
</p>

In [24]:
subFolder = "Data/" +coFolder+ "/" +Year+ "/C1_Gl/Journals"
os.makedirs(subFolder, mode=0o777, exist_ok=True)

<p style="font-family:Calibri; font-size:1.2em; color:#061233; padding:2px 5px; margin: 5px 0 -7px 20px; border-bottom: 3px solid #0d1e4f; background: #f0f4ff">  
   <span style="font-size:1.2em; color:#384073;" >1a. Customers</span>
   <span style="font-size:1.2em; color:#821107;" >customers.CSV</span>
   <span style="font-size:1.2em; color:#384073;" >file</span>
</p>

In [26]:
file_path = "Data/" +coFolder+ "/" +Year+ "/C1_Gl/Journals/Journals.csv"

if not os.path.exists(file_path):
    headers = ['Ref', 'Type', 'Date', 'accCode', 'accHead','Amount', 'Comm', 'traDate', 'action' ]
    
    with open(file_path, 'w', newline='') as csv_file:  #create fresh file each time
        writer = csv.writer(csv_file); 
        writer.writerow(headers)

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 3px solid orange; margin:-7px 0px;"></p>

<p style="font-size:2.2em; padding:10px; border-bottom: 5px solid #ffb701; background:#492863;
          text-align:center"> 
    <span style="color: #debef7;"> Journal Ledger </span> <br>
</p>

<p style="font-size:2.2em; padding:18px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    <span style="color: #fff;">syncGenLeger -  </span>
    <span style="font-size:.75em; color: #11a1f5;"> Journal Ledger CSV File </span>
</p>

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 1 - </span>
   <span style="font-size:1.4em; color:#e39607;">Get Company and Year - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Load Data </span>
</p>

In [70]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
#pd.set_option('display.float_format', '{:.0f}'.format)
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns
dfStd = pd.read_csv('data/basInfo.csv')
Year = str(dfStd.loc[0, 'year'])
coFolder = str(dfStd.loc[0, 'coFolder'])

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 2 - </span>
   <span style="font-size:1.4em; color:#e39607;">Read Journals.csv - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Refresh the data </span>
</p>

In [71]:
fPath = "Data/" +coFolder+ "/" +Year+ "/C1_Gl/Journals/Journals.csv"
df = pd.read_csv(fPath, index_col=False, encoding='unicode_escape').fillna(0)

In [72]:
df['unique'] = df['Ref'].astype(str)+ '-' +df['Type'].astype(str)+ '-' +df['accCode'].astype(str)

In [73]:
### Remove Duplicate Quote and Deleted Record...
ledger = df.drop_duplicates(subset=['unique'], keep='last')
ledger = ledger.drop(ledger.loc[ledger['action']=='Deleted'].index)

In [74]:
ledger = ledger.drop('unique', axis=1)

In [75]:
### Save the data in qotBasic.csv File...
fPath = "Data/" +coFolder+ "/" +Year+ "/C1_Gl/Journals/Journals.csv"
ledger.to_csv(fPath, index=False)

<p style="font-size:2.2em; padding:18px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    <span style="color: #fff;">Trial Balance -  </span>
    <span style="font-size:.75em; color: #11a1f5;"> To Extract Ledger </span>
</p>

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 1 - </span>
   <span style="font-size:1.4em; color:#e39607;">Get Company and Year - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Load Data </span>
</p>

In [117]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns
dfStd = pd.read_csv('data/basInfo.csv')
Year = str(dfStd.loc[0, 'year'])
coFolder = str(dfStd.loc[0, 'coFolder'])

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 2 - </span>
   <span style="font-size:1.4em; color:#e39607;">Read Multiple Files - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Create TB </span>
</p>

In [118]:
### Read Journals.csv to get the transaction detail...........................
fPath = "Data/" +coFolder+ "/" +Year+ "/C1_Gl/Journals/Journals.csv"
transaction = pd.read_csv(fPath, index_col=False, encoding='unicode_escape').fillna(0)

In [119]:
### file doesn't recongnize date formate first convert into date and than strftime
transaction['Date'] = pd.to_datetime(transaction['Date']).dt.strftime('%Y-%m-%d')
transaction = transaction.sort_values(['Date'], ascending = [True])

In [121]:
### Read mergeTB.csv to get to merge transactio with mergeTB...................
fPath = "Data/" +coFolder+ "/C1_Gl/mergeTB.csv"
mergeTB = pd.read_csv(fPath, index_col=False, encoding='unicode_escape').fillna(0)

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 3 - </span>
   <span style="font-size:1.4em; color:#e39607;">Create Pivot Table - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Create TB</span>
</p>

In [122]:
pTransaction = pd.pivot_table(transaction,index=["accCode","accHead"],values=["Amount"],aggfunc=[np.sum],fill_value=0)

In [123]:
pTransaction.columns = pTransaction.columns.droplevel(0)
pTransaction.reset_index(inplace=True)

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 4 - </span>
   <span style="font-size:1.4em; color:#e39607;">Merge pTransaction with mergeTB- </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Create TB</span>
</p>

In [124]:
merged_df = pTransaction.merge(mergeTB[['head', 'level1', 'level2', 'level3', 'level4']], left_on='accHead', right_on='head', how='left')
merged_df = merged_df.drop('head', axis=1).fillna('')  # Drop the 'head' column from the merged DataFrame

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 5 - </span>
   <span style="font-size:1.4em; color:#e39607;">Create Pivot Table - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Create TB</span>
</p>

In [125]:
final = pd.pivot_table(merged_df,index=["level4","accHead","accCode"],values=["Amount"],aggfunc=[np.sum],fill_value=0)

In [126]:
final.columns = final.columns.droplevel(0)
final.reset_index(inplace=True)

In [127]:
finalGBy = final.groupby(['level4']).agg({'Amount': 'sum'}) 
finalGBy.loc['z. Grand Total'] = finalGBy.sum()
finalGBy.reset_index(inplace=True)

In [128]:
tbConcat = pd.concat([final, finalGBy])

In [129]:
tbSort = tbConcat.sort_values(['level4','accHead'], ascending = [True,True], na_position ='last')

In [130]:
tbSort['accHead'] = tbSort['accHead'].fillna('Total')

In [131]:
### to Hide and Show----------------------------
tbSort['Department'] = tbSort['level4']
tbSort['Vertical'] = tbSort['level4']
tbSort.loc[tbSort["accHead"] != "Total", ["Vertical"]] = '---' #  rlSort["status"]

In [132]:
tbSort = tbSort.fillna('')

<p style="font-size:2.2em; padding:18px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    <span style="color: #fff;">Arangement of Trial Balance -  </span>
    <span style="font-size:.75em; color: #11a1f5;"> Extract from Different module and make it </span>
</p>

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 1 - </span>
   <span style="font-size:1.4em; color:#e39607;">Get Company and Year - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Load Data </span>
</p>

In [13]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns
dfStd = pd.read_csv('data/basInfo.csv')
Year = str(dfStd.loc[0, 'year'])
coFolder = str(dfStd.loc[0, 'coFolder'])

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 2 - </span>
   <span style="font-size:1.4em; color:#e39607;">Read CustMaster.csv - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Refresh the data </span>
</p>

In [21]:
req_cols = ['cusCode','cusName']
fPath = "Data/" +coFolder+ "/" +Year+ "/F1_Sales/Customers/CustMaster.csv"
customer = pd.read_csv(fPath, usecols=req_cols, index_col=False, encoding='unicode_escape').fillna(0)
customer['level1'] = '1. Assets'
customer['level2'] = '2. Current Assets'
customer['level3'] = '3. Trade Receivables'
customer['level4'] = 'Trade Receivables'

In [22]:
customer = customer.rename(columns={'cusCode': 'code', 'cusName': 'head'})

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 2 - </span>
   <span style="font-size:1.4em; color:#e39607;">Read detailTB.csv - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Refresh the data </span>
</p>

In [23]:
req_cols = ['code','head','level1','level2','level3','level4']
fPath = "Data/" +coFolder+ "/C1_Gl/detailTB.csv"
TB = pd.read_csv(fPath, usecols=req_cols, index_col=False, encoding='unicode_escape').fillna(0)

In [24]:
mergTB = pd.concat([TB, customer])
mergTB = mergTB.reset_index(drop=True) ### Reset the index of the merged DataFrame

In [26]:
fPath = "Data/" +coFolder+ "/C1_Gl/mergeTB.csv"
mergTB.to_csv(fPath, index=False)

<p style="font-size:2.2em; padding:18px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    <span style="color: #fff;">Ledger -  </span>
    <span style="font-size:.75em; color: #11a1f5;"> General Ledger CSV File </span>
</p>

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 1 - </span>
   <span style="font-size:1.4em; color:#e39607;">Get Company and Year - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Load Data </span>
</p>

In [85]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
#pd.set_option('display.float_format', '{:.0f}'.format)
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns
dfStd = pd.read_csv('data/basInfo.csv')
Year = str(dfStd.loc[0, 'year'])
coFolder = str(dfStd.loc[0, 'coFolder'])

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 2 - </span>
   <span style="font-size:1.4em; color:#e39607;">Read dlBasic.csv - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Get the last Delivery Number </span>
</p>

In [133]:
fPath = "Data/" +coFolder+ "/" +Year+ "/C1_Gl/Journals/Journals.csv"
df = pd.read_csv(fPath, index_col=False, encoding='unicode_escape').fillna(0)

In [134]:
df

,Ref,Type,Date,accCode,accHead,Amount,Comm,traDate,action
0,2300001,dl,1/30/2023,60110001,Cogs1,3900,SVTA Radio Hand Pice 1 to Spaces Spa Center,2023-5-29 21-39-54,
1,2300001,dl,1/30/2023,37000001,Inventory at Cost,-3900,SVTA Radio Hand Pice 1 to Spaces Spa Center,2023-5-29 21-39-54,
2,2300002,dl,1/18/2023,60110001,Cogs1,36725,Microneedling RF and RF Fractional Laser to Al...,2023-5-29 21-40-11,
3,2300002,dl,1/18/2023,37000001,Inventory at Cost,-36725,Microneedling RF and RF Fractional Laser to Al...,2023-5-29 21-40-11,
4,2300003,dl,1/23/2023,60110001,Cogs1,25850,Microneedling RF and HandPiece to Women's Medi...,2023-5-29 21-40-26,
...,...,...,...,...,...,...,...,...,...
1331,2300265,si,2023-12-31,44280001,VAT Output Tax Payable,-550,"khalidiya street,",2023-6-3 13-47-7,0
1332,2300265,si,2023-12-31,70120001,Credit Sales,-11000,"khalidiya street,",2023-6-3 13-47-7,0
1333,2300266,si,2023-12-21,22311852,Zaki Ladies Salon,12359,"Dubai Resort Shop 2, Anatara, The Palm",2023-6-3 13-47-23,0
1334,2300266,si,2023-12-21,44280001,VAT Output Tax Payable,-589,"Dubai Resort Shop 2, Anatara, The Palm",2023-6-3 13-47-23,0
1335,2300266,si,2023-12-21,70120001,Credit Sales,-11770,"Dubai Resort Shop 2, Anatara, The Palm",2023-6-3 13-47-23,0

In [143]:
### file doesn't recongnize date formate first convert into date and than strftime
df['Date'] = pd.to_datetime(df['Date']).dt.strftime('%Y-%m-%d')
df = df.sort_values(['Date'], ascending = [True])

In [144]:
df

,Ref,Type,Date,accCode,accHead,Amount,Comm,traDate,action
2,2300002,dl,2023-01-18,60110001,Cogs1,36725,Microneedling RF and RF Fractional Laser to Al...,2023-5-29 21-40-11,
3,2300002,dl,2023-01-18,37000001,Inventory at Cost,-36725,Microneedling RF and RF Fractional Laser to Al...,2023-5-29 21-40-11,
217,2300004,si,2023-01-19,70120001,Credit Sales,-45400,Microneedling RF and RF Fractional Laser to Al...,2023-5-29 22-28-39,0
215,2300004,si,2023-01-19,22310029,Al Jameya Pharmacy,47670,Microneedling RF and RF Fractional Laser to Al...,2023-5-29 22-28-39,0
216,2300004,si,2023-01-19,44280001,VAT Output Tax Payable,-2270,Microneedling RF and RF Fractional Laser to Al...,2023-5-29 22-28-39,0
...,...,...,...,...,...,...,...,...,...
1291,2300252,si,2023-12-31,22311134,Al Dar Medical Center,174300,FujirahkhorfkanCornish area,2023-6-3 13-44-25,0
1292,2300252,si,2023-12-31,44280001,VAT Output Tax Payable,-8300,FujirahkhorfkanCornish area,2023-6-3 13-44-25,0
1293,2300252,si,2023-12-31,70120001,Credit Sales,-166000,FujirahkhorfkanCornish area,2023-6-3 13-44-25,0
652,2300252,dl,2023-12-31,37000001,Inventory at Cost,-136000,FujirahkhorfkanCornish area,2023-6-3 3-57-48,
1258,2300241,si,2023-12-31,22310789,Al Sharq Hospital,61950,Fujairah United Arab Emirates,2023-6-3 13-42-19,0

In [140]:
pk = 60110001
dfA  = df[df['accCode'] == pk].fillna(0) ### Filter data as per 'pk' selected quote

In [141]:
dfA

,Ref,Type,Date,accCode,accHead,Amount,Comm,traDate,action
0,2300001,dl,2023-01-30,60110001,Cogs1,3900,SVTA Radio Hand Pice 1 to Spaces Spa Center,2023-5-29 21-39-54,
2,2300002,dl,2023-01-18,60110001,Cogs1,36725,Microneedling RF and RF Fractional Laser to Al...,2023-5-29 21-40-11,
4,2300003,dl,2023-01-23,60110001,Cogs1,25850,Microneedling RF and HandPiece to Women's Medi...,2023-5-29 21-40-26,
6,2300004,dl,2023-01-28,60110001,Cogs1,64000,RF Fractional CO2 Laser and Handpiece to Al No...,2023-5-29 21-40-46,
8,2300005,dl,2023-02-16,60110001,Cogs1,5500,SVTA Radio Hand Pice 3 & 4,2023-5-29 21-41-3,
...,...,...,...,...,...,...,...,...,...
675,2300264,dl,2023-11-28,60110001,Cogs1,59000,Mall of Emirates bridge turn left towards Lulu...,2023-6-3 4-2-11,
677,2300265,dl,2023-12-27,60110001,Cogs1,13500,Al Hamrain Center Dubai United Arab Emirates,2023-6-3 4-2-41,
679,2300266,dl,2023-12-30,60110001,Cogs1,8100,"khalidiya street,",2023-6-3 4-3-8,
681,2300267,dl,2023-12-20,60110001,Cogs1,9400,"Dubai Resort Shop 2, Anatara, The Palm",2023-6-3 4-3-27,
683,2300268,dl,2023-12-23,60110001,Cogs1,26000,"Villa 813, Jumeirah Beach Road,",2023-6-3 4-4-7,

In [138]:
ledgerA = dfA[['Date','accCode','accHead','Ref','Type','Amount','Comm']]

In [83]:
ledgerB = ledgerA.copy()

In [84]:
ledgerB['Balance'] = ledgerB['Amount'].cumsum()
ledgerB

,Date,accCode,accHead,Ref,Type,Amount,Balance
296,2023-02-03,22310280,Gulf Beauty Salon - Abu Dhabi,2300031,si,142800,142800
344,2023-04-18,22310280,Gulf Beauty Salon - Abu Dhabi,2300047,si,32839,175639
350,2023-03-04,22310280,Gulf Beauty Salon - Abu Dhabi,2300049,si,29379,205018

<p style="font-size:2.2em; padding:18px; border-bottom: 5px solid #ffb701; background:#143157;"> 
    <span style="color: #fff;">Sales Analysis -  </span>
    <span style="font-size:.75em; color: #11a1f5;"> Detail Sales Analysis </span>
</p>

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 1 - </span>
   <span style="font-size:1.4em; color:#e39607;">Get Company and Year - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Load Data </span>
</p>

In [97]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
#pd.set_option('display.float_format', '{:.0f}'.format)
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns
dfStd = pd.read_csv('data/basInfo.csv')
Year = str(dfStd.loc[0, 'year'])
coFolder = str(dfStd.loc[0, 'coFolder'])

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 2 - </span>
   <span style="font-size:1.4em; color:#e39607;">Read dlBasic.csv - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Get the last Delivery Number </span>
</p>

In [98]:
fPath = "Data/" +coFolder+ "/" +Year+ "/C1_Gl/Journals/Journals.csv"
df = pd.read_csv(fPath, index_col=False, encoding='unicode_escape').fillna(0)

<p style="padding:5px; border-bottom:3px solid #6d79a1; background:#e9edf7; margin:5px 0 -7px 20px;"> 
   <span style="font-size:1.4em; color:#202f61;" >Step 3 - </span>
   <span style="font-size:1.4em; color:#e39607;">Create Customer Pivot Table - </span> 
   <span style="font-size:1.2em; color:#209ebd;">to Get top 10 Customer</span>
</p>

In [99]:
### Filter data To Get Customer Only --------------------------------------
dfA  = df[df['Type'] == 'si'].fillna(0)
filtered_df = dfA[(dfA['accCode'] >= 20000000) & (dfA['accCode'] <= 29999999)]

In [104]:
### Create Pivot Table -----------------------------------------
byCustomer = pd.pivot_table(filtered_df,index=["accCode","accHead"],values=["Amount"],aggfunc=[np.sum],fill_value=0)
byCustomer.columns = byCustomer.columns.droplevel(0)
byCustomer.reset_index(inplace=True)

In [108]:
### Create Top 10 Customer -----------------------------------------
sorted_df = byCustomer.sort_values('Amount', ascending=False)  # Sort the DataFrame
top_10 = sorted_df.head(10) # Filter the top 10 rows

In [109]:
top_10

     accCode                                accHead  Amount
7   22310182                      Spaces Spa Center  245238
2   22310093    Women's Medical Center (Dr. Ameena)  233704
8   22310200                   German Clinic FZ LLC  215828
13  22310280          Gulf Beauty Salon - Abu Dhabi  205018
12  22310269                       Flora Beauty Spa  189210
0   22310029                     Al Jameya Pharmacy  184742
1   22310055                       Al Noor Pharmacy  174594
3   22310097                         Sahar Pharmacy  173135
9   22310207                         Delta Pharmacy  157500
4   22310102  Health &amp; Aesthetic Medical Center  135345