<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 1px solid orange;"></p>

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #ffb701; background:#143157;"> 
CRM - Meeting Notes </p>
Extract Customer Complete Information and Save as CSV file

In [48]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns

In [49]:
### Get Current Year Value -----------------------------------------------------------
dfA = pd.read_csv('data/basInfo.csv')
Year = str(dfA.loc[0, 'year'])

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 1 - Read Data from CSV File </p>

<p style="font-family:Calibri; font-size:1.75em; color:#04405e; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #e39c19; background: #afe4ff;">  
1a. Create Folder If not Already Exist </p>

In [50]:
import os
data_folder = 'Data/'+Year+'/O1_Crm'
sales_folder = "Meeting"

if not os.path.exists(os.path.join(data_folder, sales_folder)):
    os.makedirs(os.path.join(data_folder, sales_folder))
else:
    pass

<p style="font-family:Calibri; font-size:1.75em; color:#04405e; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #e39c19; background: #afe4ff;">  
1b. If file not already exist creat the file first </p>

In [51]:
file_path = 'Data/'+Year+'/O1_Crm/Meeting/meetingDetail.csv'
if os.path.isfile(file_path):
    req_cols = ['id','metRef']
    df = pd.read_csv(file_path, usecols=req_cols).fillna(0)
else:
    # create a new DataFrame with the required columns
    req_cols = ["id", "metRef", "metDat", "cusCode", "cusName", "salCode", "salPer", "priNote", "pubNote", "othNote", "areaLat","areaLon","areaName", "refer", "comment"]
    df = pd.DataFrame(columns=req_cols).fillna(0)
    df.to_csv('Data/'+Year+'/O1_Crm/Meeting/meetingDetail.csv',index=False, mode='a')

In [57]:
df.head(3)

         id    metRef
0  20230001  20230001
1  20230002  20230002
2  20230003  20230003

<p style="font-family:Calibri; font-size:1.75em; color:#04405e; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #e39c19; background: #afe4ff;">  
1c. Check if the dataframe is empty </p>

In [53]:
if df.empty:
    new_row = {'id':int(Year+'0000'), 'metRef':int(Year+'0000')} # create a new dummy row
    df.loc[0] = new_row  # add the new row to the dataframe

In [56]:
df.head(3)

         id    metRef
0  20230001  20230001
1  20230002  20230002
2  20230003  20230003

In [55]:
val = df['id'].max()
lastN  = val+1
val

20230004

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 1px solid orange;"></p>

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #ffb701; background:#143157;"> 
Show Customer Specific Details </p>
Read data from csv in Pandas

In [9]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 1 - Read CSV files </p>

In [11]:
###---- Customer Master File to Get Last Quotation Number -------------
req_cols = ['cusCode','cusName', 'cusBillTo','cusShipTo', 'comment']
df = pd.read_csv("Data/F1_Sales/Customer/CustMaster.csv", usecols=req_cols).fillna(0)

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 2 - Remove Duplicate Entry </p>

In [12]:
# remove duplicate rows and keep only the last occurrence subequently if that customer Code added
# will show because keep last record will not have 'Delete' in comment column
DataA = df.drop_duplicates(subset=['cusCode'], keep='last')
DataB = DataA.drop(DataA.loc[DataA['comment']=='Delete'].index)
DataB = DataB.drop('comment', axis=1)

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 3 - Convert into Json </p>

In [13]:
### Convert Data into Json Dictionary (can be access by JavaScript) .........
Data = DataB.to_dict(orient="records")

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 1px solid orange;"></p>

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #ffb701; background:#143157;"> 
Show Meeting Details </p>
Read data from csv in Pandas

In [58]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 1 - Read CSV files </p>

In [59]:
###---- Read Quotation master File ------------------------------------------
req_cols = ['metRef','metDat', 'cusName','salPer', 'priNote']
df = pd.read_csv('Data/'+Year+'/O1_Crm/Meeting/meetingDetail.csv', usecols=req_cols).fillna(0)
df

         id    metRef
0  20230001  20230001
1  20230002  20230002
2  20230003  20230003
3  20230004  20230004

In [9]:
DataA['customer'] = DataA['cusCode']

In [10]:
#Convert Customer Data Fram into Python List--------------------------------------
dfSalA = dfSal.set_index('cusCode') # set CusCode As Index
data_dict = dfSalA['cusName'].to_dict() # Convert the DataFrame to a dictionary
DataA.customer = DataA.customer.map(data_dict).fillna(0) ### map to lookup data_dict

In [11]:
DataA.loc[DataA["customer"] == 0, ["customer"]] = DataA["cusCode"]
### same function as above but due to np it is faster
#DataA["customer"] = np.where(DataA["customer"] == 0, DataA['cusCode'], DataA["customer"])
DataA["customer"] = DataA["customer"].apply(lambda x: str(x) + '-A' if isinstance(x, (int, float)) else x)

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 2 - Remove Duplicate Entry </p>

In [22]:
# remove duplicate rows and keep only the last occurrence subequently if that customer Code added
# will show because keep last record will not have 'Delete' in comment column
DataA = DataA.drop_duplicates(subset=['qotRef'], keep='last')
DataB = DataA.drop(DataA.loc[DataA['comment']=='Delete'].index)

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 3 - Convert into Json </p>

In [8]:
### Convert Data into Json Dictionary (can be access by JavaScript) .........
Data = DataB.to_dict(orient="records")

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 1px solid orange;"></p>

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #ffb701; background:#143157;"> 
Last Quotation id Number from Database </p>
Read data from csv in Pandas

<p style="font-family:Calibri; font-size:1.75em; color:#04405e; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #e39c19; background: #afe4ff;">  
Step 1a - Create SQL Engine</p>

In [10]:
import sqlite3
import sqlalchemy

# here db.sqlite3 is the name mention in settings.py under Databases; and 
# path should be absolute where 'db.sqlite3' file exist
#------------------------------------------------------------------------
engine = sqlalchemy.create_engine('sqlite:///D:/IUH/2. Programming/2. App/1a BaseERP/db.sqlite3')

<p style="font-family:Calibri; font-size:1.75em; color:#04405e; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #e39c19; background: #afe4ff;">  
Step 1b - Read Data from SQL </p>

In [11]:
Max = '''SELECT MAX(id) FROM "F1_Sales_qotBasic"'''
df2 = pd.read_sql(Max, con=engine)
val = df2.rename(columns={df2.columns[0]: 'new'})
val.fillna(0, inplace=True)
lastN = val.loc[0, 'new']
lastN  = lastN+1
lastN

20230012

In [4]:
# check if the variable is NaN and replace it with 1 if it is blank count as 0 need where there is no Record
if (lastQuot >= 0):
    pass
else:
    lastQuot = 0
print(lastQuot)

0

<p style="font-family:Calibri; font-size:1.75em; color:white; padding:5px 5px; text-align: left; height:50px; border-bottom: 1px solid orange;"></p>

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #ffb701; background:#143157;"> 
Refresh Sales Quotation Details - from Database </p>
Read data from csv in Pandas

In [10]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 1 - Create Engine and read data in Pandas </p>

<p style="font-family:Calibri; font-size:1.75em; color:#04405e; padding:5px 5px; margin: 10px 0 -7px 20px;
border-bottom: 3px solid #e39c19; background: #afe4ff;">  
Step 1a - Create SQL Engine</p>

In [11]:
import sqlite3
import sqlalchemy

#------------------------------------------------------------------------
engine = sqlalchemy.create_engine('sqlite:///D:/IUH/2. Programming/2. App/1a BaseERP/db.sqlite3')

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 1 - Read CSV files </p>

In [12]:
###---- Qutation open/Close File to Get Last Quotation Number -------------
DataA = pd.read_sql('''SELECT * FROM "F1_Sales_qotBasic" ''', con=engine).fillna(0)

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 2 - Create a "Quotation" Folder inside "Data/F1_Sales" Folder </p>

In [13]:
import os
data_folder = "Data/F1_Sales"
sales_folder = "Quotation"

if not os.path.exists(os.path.join(data_folder, sales_folder)):
    os.makedirs(os.path.join(data_folder, sales_folder))
else:
    pass

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 3 - Save Customer Master File as CSV File </p>

In [14]:
DataA['comment'] = ''
DataA.to_csv('Data/F1_Sales/Quotation/salQuot2023.csv',index = False)

<p style="font-size:2.2em; color:white; padding:25px; border-bottom: 5px solid #ffb701; background:#143157;"> 
Sales Order <span style="font-size:.75em; color: #11a1f5;"> - Get Sales Quotation detail </span>  </p>
Get Specific Columns of Sales Quotation

In [1]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', 85) # set Jupeter note book to dispay 85 columns

<p style="font-size:1.5em; color:white; padding:5px; border-bottom: 3px solid orange; background: #3c5c75; margin: 25px 0 -7px 0;"> 
Step 1 - Create Engine and read data in Pandas </p>

In [3]:
###---- Read Quotation File 'with Specific Column' -----------------
req_cols = ['qotRef','qotDat', 'cusCode', 'cusName', 'opnClo']
dfSal = pd.read_csv("Data/F1_Sales/Quotation/salQuot2023.csv", usecols=req_cols).fillna(0)

In [4]:
dfSal

,qotRef,qotDat,cusCode,cusName,opnClo
0,20230001,4/21/2023,22310093,Women's Medical Center (Dr. Ameena),Closed
1,20230002,4/21/2023,22310102,Health &amp; Aesthetic Medical Center,Closed
2,20230003,4/17/2023,22310097,Sahar Pharmacy,Open
3,20230004,1/16/2023,22310626,Slim Spa - Dubai,Open
4,20230005,1/16/2023,22310626,Slim Spa - Dubai,Closed
5,20230006,2/23/2023,22310773,BETTER MEDICAL SOLUTIONS LLC (COSMECLIC).,Closed
6,20230008,4/21/2023,22310135,Bait Al Maqdes Pharmacy LLC,Closed
7,20230009,4/21/2023,22310021,Mohammed Hamoud Alshaya(LLC) -Dubai Br,Open
8,20230011,4/21/2023,22310270,Gulf Diagnostic Centre Hospital- WLL,Open
9,20230012,4/21/2023,2310101,Cash Customer,Closed
10,20230013,4/22/2023,2310101,Cash Customer,Open
11,20230014,4/23/2023,22310037,Qmedic (close account),Open
12,20230015,4/23/2023,22310093,Women's Medical Center (Dr. Ameena),Open
13,20230017,4/23/2023,22310094,Al Nakheel Pharmacy RAK,Open
14,20230018,4/23/2023,22310095,Al Mazroui Medical Center,Open
15,20230008,4/21/2023,22310135,Bait Al Maqdes Pharmacy LLC,Open